In [1]:
import pandas as pd

In [3]:
 ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

07-01-2024  11:29 PM    <DIR>          .
07-01-2024  11:29 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
07-01-2024  11:29 PM             3,590 pandas.ipynb
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
07-01-2024  11:29 PM               672 sample_text.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              28 File(s)     17,330,028 bytes
               9 Dir(s)  66,244,947,968 bytes free

In [4]:
pd.read_csv("sample_text.csv")

,name,email,address,pin code,sirname,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

07-01-2024  11:31 PM    <DIR>          .
07-01-2024  11:31 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
07-01-2024  11:31 PM            27,407 pandas.ipynb
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
07-01-2024  11:29 PM               672 sample_text.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              28 File(s)     17,353,845 bytes
               9 Dir(s)  66,241,941,504 bytes free

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

07-01-2024  11:34 PM    <DIR>          .
07-01-2024  11:34 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
07-01-2024  11:34 PM               749 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
07-01-2024  11:31 PM            27,407 pandas.ipynb
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
07-01-2024  11:29 PM               672 sample_text.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              29 File(s)     17,354,594 bytes
               9 Dir(s)  66,241,937,408 bytes free

In [7]:
pd.read_csv("industry.csv")

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

08-01-2024  09:44 AM    <DIR>          .
08-01-2024  09:44 AM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
07-01-2024  11:34 PM               749 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
08-01-2024  09:43 AM            41,626 pandas.ipynb
08-01-2024  09:44 AM        58,441,684 people-500000.csv
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
07-01-2024  11:29 PM               672 sample_text.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              30 File(s)     75,810,497 bytes
               9 Dir(s)  66,132,619,264 bytes free

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

08-01-2024  09:47 AM    <DIR>          .
08-01-2024  09:47 AM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
07-01-2024  11:34 PM               749 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
08-01-2024  09:45 AM            44,647 pandas.ipynb
08-01-2024  09:47 AM        58,238,362 people.csv
08-01-2024  09:44 AM        58,441,684 people-500000.csv
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
07-01-2024  11:29 PM               672 sample_text.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              31 File(s)    134,051,880 bytes
               9 Dir(s)  66,009,874,432 bytes free

In [4]:
pd.read_csv("people.csv")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,db484997Aa2e723,Marcia,Morrison,Female,yvonnemcknight@example.net,892.956.5029x7469,30-06-1963,Set designer
1,2,B117e5DCACf270A,Ashley,Yang,Male,jenningsdevon@example.com,4099852413,04-08-1922,Location manager
2,3,32cbC09A5bcDb1b,Tracie,Hutchinson,Female,drodriguez@example.net,493-888-0693,12-08-1931,Retail buyer
3,4,06Eea7aF9760fD0,Jeffrey,Moody,Male,nburnett@example.org,001-654-763-5970x3318,31-10-1972,"Engineer, biomedical"
4,5,CE52aEd4F9AE60C,Bill,Dyer,Male,destinyday@example.net,024-165-5814x001,29-05-2017,"Designer, blown glass/stained glass"
...,...,...,...,...,...,...,...,...,...
499995,499996,2f8938dfE814a2c,Kent,Mason,Male,wayne12@example.com,(692)589-8457x3377,20-07-1993,Diagnostic radiographer
499996,499997,Af35bd1E9dEbAf7,Laura,Benson,Male,yesenia96@example.net,001-635-722-3452x62003,09-06-2021,Radio producer
499997,499998,78435a11db34f59,Sonia,Salas,Female,shaffertanner@example.com,900.673.5644x027,28-03-2001,Diplomatic Services operational officer
499998,499999,A4bCceD30d515Bc,Wesley,Chung,Female,bryanayers@example.org,(280)277-4903,21-04-1953,Accounting technician
499999,500000,Db47F0dE59F48F3,Roberto,Cook,Male,marshdaniel@example.org,001-105-732-2176x287,13-09-1984,"Restaurant manager, fast food"

In [5]:
pd.read_csv("F:/sample-csv-files-main/files/offers/offers-1000.csv")

          version https://git-lfs.github.com/spec/v1
0  oid sha256:81b67311db936221185085a748d770af651...
1                                         size 26699

In [6]:
pd.read_csv("F:/sample-csv-files-main/files/offers/offers-5000.csv")

          version https://git-lfs.github.com/spec/v1
0  oid sha256:cd4ea1eab1707ea2679284c0fb9aa820b42...
1                                        size 152337

In [19]:
pd.read_csv(r"F:\sample-csv-files-main\files\customers\customers-100.csv")

          version https://git-lfs.github.com/spec/v1
0  oid sha256:2c36c054711dad021f45cc7e0990bd38864...
1                                         size 17261

In [14]:
pd.read_csv("sample_text.csv")

,name,email,address,pin code,sirname,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [16]:
pd.read_csv(r"people-500000.csv")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,db484997Aa2e723,Marcia,Morrison,Female,yvonnemcknight@example.net,892.956.5029x7469,1963-06-30,Set designer
1,2,B117e5DCACf270A,Ashley,Yang,Male,jenningsdevon@example.com,4099852413,1922-08-04,Location manager
2,3,32cbC09A5bcDb1b,Tracie,Hutchinson,Female,drodriguez@example.net,493-888-0693,1931-08-12,Retail buyer
3,4,06Eea7aF9760fD0,Jeffrey,Moody,Male,nburnett@example.org,001-654-763-5970x3318,1972-10-31,"Engineer, biomedical"
4,5,CE52aEd4F9AE60C,Bill,Dyer,Male,destinyday@example.net,024-165-5814x001,2017-05-29,"Designer, blown glass/stained glass"
...,...,...,...,...,...,...,...,...,...
499995,499996,2f8938dfE814a2c,Kent,Mason,Male,wayne12@example.com,(692)589-8457x3377,1993-07-20,Diagnostic radiographer
499996,499997,Af35bd1E9dEbAf7,Laura,Benson,Male,yesenia96@example.net,001-635-722-3452x62003,2021-06-09,Radio producer
499997,499998,78435a11db34f59,Sonia,Salas,Female,shaffertanner@example.com,900.673.5644x027,2001-03-28,Diplomatic Services operational officer
499998,499999,A4bCceD30d515Bc,Wesley,Chung,Female,bryanayers@example.org,(280)277-4903,1953-04-21,Accounting technician
499999,500000,Db47F0dE59F48F3,Roberto,Cook,Male,marshdaniel@example.org,001-105-732-2176x287,1984-09-13,"Restaurant manager, fast food"

In [18]:
pd.read_csv(r"C:\Users\INTEGRAL COMPUTER\Downloads\addresses.csv")

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [21]:
pd.read_csv(r"F:\data science\statistics\student.csv")

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [1]:
import pandas as pd

In [5]:
pd.read_csv(r"F:\data science\statistics\student.csv")

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [1]:
import pandas as pd

In [2]:
pd.read_csv("sample_text.csv")

,name,email,address,pin code,sirname,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [ ]:
#this entire table is called as data frame 
#data frame is nothing but its a tabular structur

In [5]:
df=pd.read_csv("sample_text.csv")

In [6]:
df

,name,email,address,pin code,sirname,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
pd.read_csv("sample_text.csv")

,name,email,address,pin code,sirname,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [10]:
pd.read_csv("sample_text.csv", header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [1]:
import pandas as pd

In [3]:
pd.read_csv(r"sample_text.csv",names=["a","b","c","d"])

                                                                                                              a  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN

                                                                                                              b  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN

                                                                                                              c  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN
                                                                                                        NaN NaN

                                                                                                               d
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN  NaN
                                                                                                        NaN    `

In [4]:
pd.read_csv("industry.csv")

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [5]:
pd.read_csv("industry.csvn", names=['a'])

FileNotFoundError: [Errno 2] No such file or directory: 'industry.csvn'

In [6]:
pd.read_csv("industry.csv")

               Accounting/Finance
0    Advertising/Public Relations
1              Aerospace/Aviation
2   Arts/Entertainment/Publishing
3                      Automotive
4                Banking/Mortgage
5            Business Development
6            Business Opportunity
7         Clerical/Administrative
8         Construction/Facilities
9                  Consumer Goods
10               Customer Service
11             Education/Training
12               Energy/Utilities
13                    Engineering
14            Government/Military
15                          Green
16                     Healthcare
17             Hospitality/Travel
18                Human Resources
19       Installation/Maintenance
20                      Insurance
21                       Internet
22                Job Search Aids
23       Law Enforcement/Security
24                          Legal
25           Management/Executive
26       Manufacturing/Operations
27                      Marketing
28           Non-Profit/Volunteer
29         Pharmaceutical/Biotech
30          Professional Services
31             QA/Quality Control
32                    Real Estate
33        Restaurant/Food Service
34                         Retail
35                          Sales
36               Science/Research
37                  Skilled Labor
38                     Technology
39             Telecommunications
40       Transportation/Logistics
41                          Other

In [7]:
pd.read_csv("industry.csv", header=None)

                                0
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [8]:
pd.read_csv("industry.csv", names=['a'])

                                a
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [9]:
pd.read_csv("industry.csv", names=["Industry"])

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [10]:
pd.read_csv("sample_text.csv")

,shubham,shubham.vaidya123@gmailo.com,bhandara,441906,vaidya,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [13]:
pd.read_csv("sample_text.csv", names= ["A", "B", "c","D","E"])

                                                                                                          A  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN

                                                                                                          B  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN

                                                                                                          c  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN

                                                                                                          D  \
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN
                                                                                                    NaN NaN

                                                                                                           E
shubham   shubham.vaidya123@gmailo.com bhandara 441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
javed     javed@gmail.com              jnagar   441904.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
vilas     vilas@gmail.com              sawari   441905.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
siddharth siddharth@gmail.com          borgaon  441906.0 vaidya NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
NaN       NaN                          NaN      NaN      NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN  NaN
                                                                                                    NaN    `

In [16]:
pd.read_csv("sample_text.csv",sep=",", header = None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [18]:
df=pd.read_csv("services.csv")

In [19]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [22]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [25]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [26]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [27]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [28]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [29]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [30]:
df.row

AttributeError: 'DataFrame' object has no attribute 'row'

In [31]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [33]:
df["audience"]

0     Older adults age 55 or over, ethnic minorities...
1          Residents of San Mateo County age 55 or over
2     Older adults age 55 or over who can benefit fr...
3     Parents, children, families with problems of c...
4     Low-income working families with children tran...
5                                               Any age
6     Older adults who have memory or sensory loss, ...
7     Senior citizens age 60 or over, disabled indiv...
8        Ethnic minorities, especially Spanish speaking
9                                                   NaN
10                                                  NaN
11    Adults, parents, children in 1st-12th grades i...
12                                                  NaN
13    Individuals or families with low or no income ...
14    Adult alcoholic/drug addictive men and women w...
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21    Profit and nonprofit businesses, the public, m...
22    Second service and nonprofit businesses, the p...
Name: audience, dtype: object

In [39]:
a=df["name"]

In [40]:
type(a)

pandas.core.series.Series

In [41]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [42]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [43]:
df["name"]

0          Fair Oaks Adult Activity Center
1         Second Career Employment Program
2                   Senior Peer Counseling
3                 Family Visitation Center
4        Economic Self-Sufficiency Program
5     Little House Recreational Activities
6         Rosener House Adult Day Services
7           Meals on Wheels - South County
8                         Fair Oaks Branch
9                             Main Library
10                         Schaberg Branch
11                            Project Read
12                   Redwood Shores Branch
13                      Redwood City Corps
14             Adult Rehabilitation Center
15                         Sunnyvale Corps
16       South San Francisco Citadel Corps
17                           Project Smile
18           San Mateo Free Medical Clinic
19               Service with blank fields
20         Service for Admin Test Location
21                         Passport Photos
22                    Example Service Name
Name: name, dtype: object

In [45]:
df[["name","location_id"]]

TypeError: list indices must be integers or slices, not list

In [46]:
df[["name", "location_id"]]

TypeError: list indices must be integers or slices, not list

In [47]:
df

[['name', 'location_id']]

In [49]:
df=pd.read_csv("services.csv")

In [50]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [51]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [52]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [55]:
df1=df[["name","location_id","id"]]

In [56]:
type(df1)

pandas.core.frame.DataFrame

In [57]:
df[["name"]]

                                    name
0        Fair Oaks Adult Activity Center
1       Second Career Employment Program
2                 Senior Peer Counseling
3               Family Visitation Center
4      Economic Self-Sufficiency Program
5   Little House Recreational Activities
6       Rosener House Adult Day Services
7         Meals on Wheels - South County
8                       Fair Oaks Branch
9                           Main Library
10                       Schaberg Branch
11                          Project Read
12                 Redwood Shores Branch
13                    Redwood City Corps
14           Adult Rehabilitation Center
15                       Sunnyvale Corps
16     South San Francisco Citadel Corps
17                         Project Smile
18         San Mateo Free Medical Clinic
19             Service with blank fields
20       Service for Admin Test Location
21                       Passport Photos
22                  Example Service Name

In [58]:
type(df[["name"]])

pandas.core.frame.DataFrame

In [59]:
a= df["name"]

In [60]:
type(A)

NameError: name 'A' is not defined

In [61]:
type(a)

pandas.core.series.Series

In [62]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [63]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [64]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [65]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

08-01-2024  02:35 PM    <DIR>          .
08-01-2024  02:35 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
08-01-2024  01:01 PM               783 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
08-01-2024  02:35 PM           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily (2).xlsx
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
08-01-2024  02:35 PM           628,493 pandas.ipynb
08-01-2024  09:47 AM        58,238,362 people.csv
08-01-2024  09:44 AM        58,441,684 people-500000.csv
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
08-01-2024  11:21 AM               620 sample_text.csv
08-01-2024  01:54 PM            19,104 services.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              33 File(s)    134,816,463 bytes
               9 Dir(s)  66,724,593,664 bytes free

In [66]:
pd.read_excel("LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily (2).xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,1) Create your Live Production Environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,In LUSID you can segregate environments by mak...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Scopes.,NaN,NaN
14,NaN,NaN,NaN,NaN,Each scope has a unique code which is used to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,To manage your client's assets you will also n...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Portfolios,NaN,NaN
16,NaN,NaN,NaN,NaN,A portfolio lives within a given scope. Each p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,"When you add a portfolio, you can specify whic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,Scope:,Production-client,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,DisplayName,Description,Code,Created,BaseCurrency,CorporateActionSourceId,AccountingMethod,SubHoldingKeys,Result
26,NaN,NaN,NaN,1.0,Pension-fund,Pension fund for new client,Pension-fund,2019-09-08 11:49:22.720000,GBP,NaN,AverageCost,NaN,Error creating portfolio with id Pension-fund ...
27,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
pd.read_excel("LUSID Excel - Manage Orders.xlsx",sheet_name="Allocations")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df = pd.read_excel("LUSID Excel - Manage Orders.xlsx")

In [70]:
df.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [71]:
df = pd.ExcelFile("LUSID Excel - Manage Orders.xlsx")

In [72]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [75]:
df.sheet_names[0]

'Executions'

In [77]:
for i in df.sheet_names :
    pd.read_excel("LUSID Excel - Manage Orders.xlsx",sheet_nami)

In [78]:
pd.read_excel("LUSID Excel - Manage Orders.xlsx", sheet_name= "Placements")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,This sheet allows you to manage Placements:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListPlacements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetPlacement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertPlacements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Placement001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
pd.read_csv("titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [81]:
pd.read_csv(r"https://github.com/datasciencedojo/datasets/blob/master/titanic.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 40, saw 10

In [83]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("sample_text.csv", header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.skiprows(1)

AttributeError: 'DataFrame' object has no attribute 'skiprows'

In [8]:
pd.read_csv("sample_text.csv",skiprows=[1,2],header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [10]:
pd.read_html("https://www.basketball-reference.com/teams/GSW/2015.html")

[    No.                Player Pos    Ht   Wt          Birth Date Unnamed: 6  \
 0    19       Leandro Barbosa  SG   6-3  194   November 28, 1982         br
 1    40       Harrison Barnes  SF   6-8  225        May 30, 1992         us
 2    12          Andrew Bogut   C   7-0  260   November 28, 1984         au
 3    30         Stephen Curry  PG   6-2  185      March 14, 1988         us
 4    31          Festus Ezeli   C  6-11  255    October 21, 1989         ng
 5    23        Draymond Green  PF   6-6  230       March 4, 1990         us
 6     7        Justin Holiday  SG   6-6  180       April 5, 1989         us
 7     9        Andre Iguodala  SF   6-6  215    January 28, 1984         us
 8     1         Ognjen Kuzmić   C   7-1  251        May 16, 1990         ba
 9    10             David Lee  PF   6-9  245      April 29, 1983         us
 10   34      Shaun Livingston  PG   6-7  192  September 11, 1985         us
 11   20  James Michael McAdoo  PF   6-9  230     January 4, 1993         us
 12    4          Brandon Rush  SG   6-6  220        July 7, 1985         us
 13    5     Marreese Speights   C  6-10  255      August 4, 1987         us
 14   11         Klay Thompson  SG   6-6  215    February 8, 1990         us

    Exp           College
 0   11               NaN
 1    2               UNC
 2    9              Utah
 3    5          Davidson
 4    1        Vanderbilt
 5    2    Michigan State
 6    1        Washington
 7   10           Arizona
 8    1               NaN
 9    9           Florida
 10   9               NaN
 11   R               UNC
 12   6            Kansas
 13   6           Florida
 14   3  Washington State  ,
     Rk                Player  Age   G  GS    MP   FG   FGA    FG%   3P  ...  \
 0    1         Stephen Curry   26  80  80  32.7  8.2  16.8  0.487  3.6  ...
 1    2         Klay Thompson   24  77  77  31.9  7.8  16.9  0.463  3.1  ...
 2    3        Draymond Green   24  79  79  31.5  4.3   9.7  0.443  1.4  ...
 3    4       Harrison Barnes   22  82  82  28.3  3.9   8.0  0.482  1.1  ...
 4    5        Andre Iguodala   31  77   0  26.9  3.0   6.4  0.466  1.0  ...
 5    6          Andrew Bogut   30  67  65  23.6  3.0   5.3  0.563  0.0  ...
 6    7      Shaun Livingston   29  78   2  18.8  2.5   5.1  0.500  0.0  ...
 7    8             David Lee   31  49   4  18.4  3.3   6.4  0.511  0.0  ...
 8    9     Marreese Speights   27  76   9  15.9  4.2   8.5  0.492  0.1  ...
 9   10       Leandro Barbosa   32  66   1  14.9  2.8   5.8  0.474  0.7  ...
 10  11        Justin Holiday   25  59   4  11.1  1.5   4.0  0.387  0.6  ...
 11  12          Festus Ezeli   25  46   7  11.0  1.7   3.0  0.547  0.0  ...
 12  13  James Michael McAdoo   22  15   0   9.1  1.6   2.9  0.545  0.0  ...
 13  14          Brandon Rush   29  33   0   8.2  0.3   1.6  0.204  0.1  ...
 14  15         Ognjen Kuzmić   24  16   0   4.5  0.5   0.8  0.667  0.0  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0   0.914  0.7  3.6  4.3  7.7  2.0  0.2  3.1  2.0  23.8
 1   0.879  0.4  2.9  3.2  2.9  1.1  0.8  1.9  1.6  21.7
 2   0.660  1.4  6.7  8.2  3.7  1.6  1.3  1.7  3.2  11.7
 3   0.720  1.4  4.1  5.5  1.4  0.7  0.2  0.9  1.8  10.1
 4   0.596  0.6  2.8  3.3  3.0  1.2  0.3  1.1  1.3   7.8
 5   0.524  2.1  6.0  8.1  2.7  0.6  1.7  1.6  2.8   6.3
 6   0.714  0.6  1.8  2.3  3.3  0.6  0.3  1.3  1.4   5.9
 7   0.654  1.7  3.6  5.2  1.7  0.6  0.5  1.0  1.7   7.9
 8   0.843  1.4  2.8  4.3  0.9  0.3  0.4  1.1  2.5  10.4
 9   0.784  0.3  1.0  1.4  1.5  0.6  0.1  0.7  1.3   7.1
 10  0.822  0.2  1.0  1.2  0.8  0.7  0.2  0.5  0.9   4.3
 11  0.628  1.3  2.1  3.4  0.2  0.2  0.9  0.7  1.7   4.4
 12  0.560  1.0  1.5  2.5  0.1  0.3  0.6  0.4  1.4   4.1
 13  0.455  0.1  1.1  1.2  0.4  0.2  0.4  0.3  0.8   0.9
 14  1.000  0.4  0.6  1.1  0.4  0.1  0.1  0.3  0.8   1.3

 [15 rows x 28 columns],
     Rk                Player  Age   G  GS    MP   FG   FGA    FG%   3P  ...  \
 0    1         Stephen Curry   26  21  21  39.3  9.5  20.9  0.456  4.7  ...
 1    2        Draymond Green   24  21  21  37.3  4.8  11.4  0.417  1.1  ...
 2    3         Klay Thompson   24  21  21  36.2  7.1  15.9  0.446  2.7  ...
 3    4       Harrison Barnes   22  21  21  32.4  4.2   9.5  0.440  1.0  ...
 4    5        Andre Iguodala   31  21   3  30.2  3.9   8.1  0.474  1.4  ...
 5    6          Andrew Bogut   30  19  18  23.2  2.2   3.9  0.560  0.0  ...
 6    7      Shaun Livingston   29  21   0  17.9  2.0   3.8  0.532  0.0  ...
 7    8       Leandro Barbosa   32  21   0  10.9  1.9   4.2  0.443  0.4  ...
 8    9          Festus Ezeli   25  20   0   9.2  1.4   2.5  0.540  0.0  ...
 9   10             David Lee   31  13   0   8.2  1.2   3.1  0.400  0.0  ...
 10  11     Marreese Speights   27  10   0   6.7  1.4   4.2  0.333  0.0  ...
 11  12          Brandon Rush   29   3   0   2.3  0.3   2.0  0.167  0.3  ...
 12  13        Justin Holiday   25   5   0   2.2  0.2   0.4  0.500  0.2  ...
 13  14  James Michael McAdoo   22   5   0   2.0  0.4   0.6  0.667  0.0  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
 0   0.835  1.0  4.0   5.0  6.4  1.9  0.1  3.9  2.2  28.3
 1   0.736  2.2  7.9  10.1  5.2  1.8  1.2  2.8  4.2  13.7
 2   0.800  0.4  3.4   3.9  2.6  0.8  0.9  2.0  3.0  18.6
 3   0.735  2.1  3.1   5.2  1.5  0.8  0.5  1.0  2.1  10.6
 4   0.415  0.8  3.7   4.5  3.6  1.2  0.3  0.7  2.0  10.4
 5   0.385  2.2  5.9   8.1  1.9  0.6  1.8  1.4  3.6   4.7
 6   0.840  0.6  1.8   2.4  1.8  0.4  0.2  1.0  1.5   5.0
 7   0.818  0.4  0.9   1.3  0.9  0.3  0.0  0.6  1.1   5.0
 8   0.552  1.2  1.9   3.1  0.3  0.1  0.5  0.6  1.3   3.5
 9   0.533  0.8  1.8   2.6  0.6  0.2  0.2  0.2  1.3   3.1
 10  0.600  0.8  1.3   2.1  0.4  0.4  0.3  0.4  1.4   3.7
 11    NaN  0.3  0.7   1.0  0.0  0.0  0.0  0.0  0.7   1.0
 12    NaN  0.0  0.2   0.2  0.2  0.0  0.0  0.4  0.2   0.6
 13    NaN  0.2  0.6   0.8  0.0  0.0  0.2  0.2  0.0   0.8

 [14 rows x 28 columns],
       Rk                Player   Age   G    GS     MP    FG   FGA    FG%   3P  \
 0    1.0         Stephen Curry  26.0  80  80.0   2613   653  1341  0.487  286
 1    2.0        Draymond Green  24.0  79  79.0   2490   339   765  0.443  111
 2    3.0         Klay Thompson  24.0  77  77.0   2455   602  1299  0.463  239
 3    4.0       Harrison Barnes  22.0  82  82.0   2318   316   656  0.482   87
 4    5.0        Andre Iguodala  31.0  77   0.0   2069   231   496  0.466   74
 5    6.0          Andrew Bogut  30.0  67  65.0   1583   200   355  0.563    0
 6    7.0      Shaun Livingston  29.0  78   2.0   1468   198   396  0.500    0
 7    8.0     Marreese Speights  27.0  76   9.0   1207   318   646  0.492    5
 8    9.0       Leandro Barbosa  32.0  66   1.0    982   183   386  0.474   43
 9   10.0             David Lee  31.0  49   4.0    904   160   313  0.511    0
 10  11.0        Justin Holiday  25.0  59   4.0    657    91   235  0.387   35
 11  12.0          Festus Ezeli  25.0  46   7.0    504    76   139  0.547    0
 12  13.0          Brandon Rush  29.0  33   0.0    271    11    54  0.204    3
 13  14.0  James Michael McAdoo  22.0  15   0.0    137    24    44  0.545    0
 14  15.0         Ognjen Kuzmić  24.0  16   0.0     72     8    12  0.667    0
 15   NaN                   NaN   NaN  82   NaN  19730  3410  7137  0.478  883

     ...    FT%  ORB   DRB   TRB   AST  STL  BLK   TOV    PF   PTS
 0   ...  0.914   56   285   341   619  163   16   249   158  1900
 1   ...  0.660  114   533   647   291  123   99   133   253   921
 2   ...  0.879   27   220   247   222   87   60   149   122  1668
 3   ...  0.720  117   336   453   116   61   19    71   146   827
 4   ...  0.596   44   213   257   228   89   25    88   100   604
 5   ...  0.524  141   402   543   180   39  113   106   188   422
 6   ...  0.714   43   140   183   259   49   20   102   110   461
 7   ...  0.843  109   216   325    72   20   34    82   189   791
 8   ...  0.784   23    68    91    99   41    8    44    87   467
 9   ...  0.654   81   176   257    85   31   26    49    83   388
 10  ...  0.822   12    61    73    48   40   12    29    54   254
 11  ...  0.628   60    95   155     9    7   42    32    77   201
 12  ...  0.455    4    37    41    12    5   12    11    27    30
 13  ...  0.560   15    22    37     2    5    9     6    21    62
 14  ...  1.000    7    10    17     6    2    1     5    13    20
 15  ...  0.768  853  2814  3667  2248  762  496  1185  1628  9016

 [16 rows x 28 columns],
     Rk                Player  Age   G  GS   MP   FG  FGA    FG%  3P  ...  \
 0    1         Stephen Curry   26  21  21  826  200  439  0.456  98  ...
 1    2        Draymond Green   24  21  21  784  100  240  0.417  24  ...
 2    3         Klay Thompson   24  21  21  761  149  334  0.446  57  ...
 3    4       Harrison Barnes   22  21  21  681   88  200  0.440  22  ...
 4    5        Andre Iguodala   31  21   3  635   81  171  0.474  29  ...
 5    6          Andrew Bogut   30  19  18  440   42   75  0.560   0  ...
 6    7      Shaun Livingston   29  21   0  375   42   79  0.532   0  ...
 7    8       Leandro Barbosa   32  21   0  229   39   88  0.443   8  ...
 8    9          Festus Ezeli   25  20   0  183   27   50  0.540   0  ...
 9   10             David Lee   31  13   0  107   16   40  0.400   0  ...
 10  11     Marreese Speights   27  10   0   67   14   42  0.333   0  ...
 11  12        Justin Holiday   25   5   0   11    1    2  0.500   1  ...
 12  13  James Michael McAdoo   22   5   0   10    2    3  0.667   0  ...
 13  14          Brandon Rush   29   3   0    7    1    6  0.167   1  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV  PF  PTS
 0   0.835   20   85  105  134   39    3   82  47  594
 1   0.736   46  166  212  109   38   25   58  89  288
 2   0.800    9   72   81   54   16   19   41  64  391
 3   0.735   45   65  110   32   17   11   22  45  223
 4   0.415   16   78   94   75   25    7   14  42  218
 5   0.385   41  112  153   36   11   34   26  69   89
 6   0.840   13   38   51   38    8    5   21  32  105
 7   0.818    8   19   27   18    6    1   12  24  104
 8   0.552   24   38   62    6    1   10   12  25   70
 9   0.533   11   23   34    8    3    2    2  17   40
 10  0.600    8   13   21    4    4    3    4  14   37
 11    NaN    0    1    1    1    0    0    2   1    3
 12    NaN    1    3    4    0    0    1    1   0    4
 13    NaN    1    2    3    0    0    0    0   2    3

 [14 rows x 28 columns],
     Rk                Player  Age   G    MP   PER    TS%   3PAr    FTr  ORB%  \
 0    1         Stephen Curry   26  80  2613  28.0  0.638  0.482  0.251   2.4
 1    2        Draymond Green   24  79  2490  16.4  0.540  0.430  0.261   5.1
 2    3         Klay Thompson   24  77  2455  20.8  0.591  0.420  0.197   1.2
 3    4       Harrison Barnes   22  82  2318  13.4  0.573  0.328  0.229   5.6
 4    5        Andre Iguodala   31  77  2069  12.3  0.553  0.427  0.230   2.4
 5    6          Andrew Bogut   30  67  1583  15.8  0.565  0.000  0.118   9.9
 6    7      Shaun Livingston   29  78  1468  12.9  0.529  0.005  0.230   3.3
 7    8     Marreese Speights   27  76  1207  19.5  0.546  0.028  0.276  10.1
 8    9       Leandro Barbosa   32  66   982  15.3  0.558  0.290  0.192   2.6
 9   10             David Lee   31  49   904  17.8  0.541  0.006  0.332  10.0
 10  11        Justin Holiday   25  59   657  12.1  0.498  0.464  0.191   2.0
 11  12          Festus Ezeli   25  46   504  16.2  0.580  0.000  0.561  13.3
 12  13          Brandon Rush   29  33   271   0.8  0.255  0.500  0.204   1.6
 13  14  James Michael McAdoo   22  15   137  17.7  0.564  0.000  0.568  12.2
 14  15         Ognjen Kuzmić   24  16    72  12.9  0.727  0.000  0.333  10.8

     ...  Unnamed: 17   OWS  DWS    WS  WS/48  Unnamed: 22  OBPM  DBPM  BPM  \
 0   ...          NaN  11.5  4.1  15.7  0.288          NaN   8.2   1.7  9.9
 1   ...          NaN   3.3  5.2   8.5  0.163          NaN   0.7   2.8  3.5
 2   ...          NaN   5.7  3.1   8.8  0.172          NaN   4.5  -0.1  4.4
 3   ...          NaN   3.7  3.0   6.7  0.139          NaN   0.2  -0.1  0.1
 4   ...          NaN   2.3  2.8   5.1  0.117          NaN  -0.4   1.4  0.9
 5   ...          NaN   1.9  3.4   5.2  0.159          NaN  -0.9   3.3  2.4
 6   ...          NaN   1.5  1.8   3.3  0.107          NaN  -1.4   0.6 -0.8
 7   ...          NaN   2.2  1.8   4.0  0.158          NaN  -0.9  -1.1 -1.9
 8   ...          NaN   1.6  1.2   2.8  0.137          NaN   0.0   0.4  0.3
 9   ...          NaN   1.6  1.6   3.2  0.168          NaN   0.1   0.8  0.9
 10  ...          NaN   0.2  1.0   1.3  0.092          NaN  -2.4   1.0 -1.4
 11  ...          NaN   0.8  0.9   1.7  0.159          NaN  -2.2   0.3 -1.8
 12  ...          NaN  -0.7  0.4  -0.3 -0.056          NaN  -7.1  -0.3 -7.3
 13  ...          NaN   0.2  0.3   0.5  0.177          NaN  -2.1  -0.2 -2.3
 14  ...          NaN   0.2  0.1   0.3  0.171          NaN  -2.3   0.8 -1.4

     VORP
 0    7.9
 1    3.5
 2    4.0
 3    1.2
 4    1.5
 5    1.8
 6    0.4
 7    0.0
 8    0.6
 9    0.7
 10   0.1
 11   0.0
 12  -0.4
 13   0.0
 14   0.0

 [15 rows x 27 columns],
     Rk                Player  Age   G   MP   PER    TS%   3PAr    FTr  ORB%  \
 0    1         Stephen Curry   26  21  826  24.5  0.607  0.528  0.262   2.7
 1    2        Draymond Green   24  21  784  16.6  0.517  0.379  0.363   6.5
 2    3         Klay Thompson   24  21  761  14.8  0.553  0.437  0.135   1.3
 3    4       Harrison Barnes   22  21  681  12.2  0.519  0.310  0.170   7.3
 4    5        Andre Iguodala   31  21  635  15.4  0.546  0.480  0.380   2.8
 5    6          Andrew Bogut   30  19  440  14.0  0.551  0.013  0.173  10.3
 6    7      Shaun Livingston   29  21  375  11.5  0.583  0.013  0.316   3.8
 7    8       Leandro Barbosa   32  21  229  13.3  0.532  0.261  0.250   3.9
 8    9          Festus Ezeli   25  20  183  16.1  0.558  0.000  0.580  14.5
 9   10             David Lee   31  13  107  14.1  0.429  0.000  0.375  11.3
 10  11     Marreese Speights   27  10   67  13.2  0.381  0.000  0.357  13.2
 11  12        Justin Holiday   25   5   11   1.9  0.750  0.500  0.000   0.0
 12  13  James Michael McAdoo   22   5   10  19.7  0.667  0.000  0.000  11.0
 13  14          Brandon Rush   29   3    7  -4.5  0.250  0.333  0.000  15.8

     ...  Unnamed: 17  OWS  DWS   WS  WS/48  Unnamed: 22  OBPM  DBPM   BPM  \
 0   ...          NaN  2.7  1.2  3.9  0.228          NaN   7.7   1.1   8.8
 1   ...          NaN  0.9  1.7  2.6  0.160          NaN   0.7   3.8   4.5
 2   ...          NaN  0.9  1.0  1.9  0.118          NaN   2.0   0.0   1.9
 3   ...          NaN  0.8  0.8  1.6  0.115          NaN   0.4   0.3   0.7
 4   ...          NaN  1.3  1.0  2.2  0.170          NaN   1.7   2.8   4.5
 5   ...          NaN  0.4  1.0  1.4  0.153          NaN  -2.0   3.8   1.8
 6   ...          NaN  0.5  0.5  0.9  0.118          NaN  -1.6   1.1  -0.5
 7   ...          NaN  0.3  0.3  0.5  0.113          NaN  -0.8  -0.1  -0.9
 8   ...          NaN  0.3  0.3  0.6  0.150          NaN  -1.1   0.5  -0.7
 9   ...          NaN  0.1  0.2  0.3  0.133          NaN  -1.4   0.6  -0.9
 10  ...          NaN -0.1  0.2  0.0  0.012          NaN  -5.0  -0.5  -5.5
 11  ...          NaN  0.0  0.0  0.0 -0.078          NaN  -4.6  -0.6  -5.2
 12  ...          NaN  0.0  0.0  0.0  0.121          NaN   1.1   2.6   3.7
 13  ...          NaN  0.0  0.0  0.0 -0.223          NaN -11.4  -6.3 -17.7

     VORP
 0    2.2
 1    1.3
 2    0.7
 3    0.5
 4    1.0
 5    0.4
 6    0.1
 7    0.1
 8    0.1
 9    0.0
 10  -0.1
 11   0.0
 12   0.0
 13   0.0

 [14 rows x 27 columns]]

In [11]:
pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [12]:
df=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [13]:
type(df)

list

In [14]:
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [15]:
len(df)

1

In [16]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [17]:
df[1]

IndexError: list index out of range

In [18]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [19]:
type(df[0])

pandas.core.frame.DataFrame

In [20]:
f=open("nba.csv", "w")

In [22]:
f.write(df[0])

TypeError: write() argument must be str, not DataFrame

In [25]:
f.close()

In [23]:
str(df[0])

'      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \\\n0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79   \n1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9   \n2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199   \n3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23   \n4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27   \n..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...   \n670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127   \n671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75   \n672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52   \n673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97   \n674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146   \n\n     DRB  TRB  AST  STL BLK  TOV   PF   PTS  \n0    222  301   68   27  22   60  147   398  \n1     19   28   16   16   7   14   24    94  \n2    324  523   66   38  86   99  222   537  \n3     54   77   15    4   9    9   30    60  \n4    220  247  129   41   7  116  167  1035  \n..   ...  ...  ...  ...  ..  ...  ...   ...  \n670  284  411  173  124  25  117  171  1071  \n671  170  245  135   86  17   75  115   685  \n672  114  166   38   38   8   42   56   386  \n673  265  362  100   34  49   62  156   472  \n674  319  465  113   18  52   76  205   833  \n\n[675 rows x 30 columns]'

In [24]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [26]:
df1 = df[0]

In [28]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [29]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [31]:
df1.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [32]:
df= pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html",skiprows=[1,2,3])

In [33]:
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 1      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 2      5   Arron Afflalo  SG  29  DEN  53  53  1750  281  657  ...  .841   21
 3      5   Arron Afflalo  SG  29  POR  25  19   752   94  227  ...  .851    6
 4      6   Alexis Ajinça   C  26  NOP  68   8   957  181  329  ...  .818  104
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 667  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 668  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 669  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 670  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 671  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0     54   77   15    4   9    9   30    60
 1    220  247  129   41   7  116  167  1035
 2    159  180  101   32   5   83  108   771
 3     61   67   28    9   2   33   59   264
 4    211  315   47   21  51   69  151   443
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 667  284  411  173  124  25  117  171  1071
 668  170  245  135   86  17   75  115   685
 669  114  166   38   38   8   42   56   386
 670  265  362  100   34  49   62  156   472
 671  319  465  113   18  52   76  205   833

 [672 rows x 30 columns]]

In [34]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
1,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
2,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,.841,21,159,180,101,32,5,83,108,771
3,5,Arron Afflalo,SG,29,POR,25,19,752,94,227,...,.851,6,61,67,28,9,2,33,59,264
4,6,Alexis Ajinça,C,26,NOP,68,8,957,181,329,...,.818,104,211,315,47,21,51,69,151,443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
668,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
669,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
670,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
671,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [35]:
df=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [36]:
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [37]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [38]:
df1=df[0]

In [39]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [40]:
df1["Rk"]

0        1
1        2
2        3
3        4
4        5
      ...
670    490
671    490
672    490
673    491
674    492
Name: Rk, Length: 675, dtype: object

In [41]:
df1[["Rk", "Player"]]

      Rk          Player
0      1      Quincy Acy
1      2    Jordan Adams
2      3    Steven Adams
3      4     Jeff Adrien
4      5   Arron Afflalo
..   ...             ...
670  490  Thaddeus Young
671  490  Thaddeus Young
672  490  Thaddeus Young
673  491     Cody Zeller
674  492    Tyler Zeller

[675 rows x 2 columns]

In [42]:
df1.head(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537

In [43]:
df1.tail(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [44]:
df1.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [45]:
df1[["GS"]]

     GS
0    22
1     0
2    67
3     0
4    72
..   ..
670  68
671  48
672  20
673  45
674  59

[675 rows x 1 columns]

In [46]:
df1

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [47]:
df1.to_csv("NBA.csv")

In [48]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

08-01-2024  10:13 PM    <DIR>          .
08-01-2024  10:13 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
08-01-2024  01:01 PM               783 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
08-01-2024  02:35 PM           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily (2).xlsx
08-01-2024  02:39 PM            84,319 LUSID Excel - Manage Orders.xlsx
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
08-01-2024  10:14 PM            81,553 nba.csv
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
08-01-2024  10:13 PM           869,857 pandas.ipynb
08-01-2024  09:47 AM        58,238,362 people.csv
08-01-2024  09:44 AM        58,441,684 people-500000.csv
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
08-01-2024  11:21 AM               620 sample_text.csv
08-01-2024  01:54 PM            19,104 services.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
08-01-2024  02:58 PM            60,302 titanic.csv
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              36 File(s)    135,284,001 bytes
               9 Dir(s)  66,874,523,648 bytes free

In [49]:
df1

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [50]:
df1.to_csv("nba.csv",index=False)

In [52]:
df1.to_csv("nba.csv", header=True)

In [53]:
df=pd.read_html("https://www.soccerassociation.com/0/2122/index.htm")

In [54]:
df

[                                                   0
 0  ALB ALG ARG ARM AUS AUT AZE BEL BIH BLR BOL BR...,
                                                    0  \
 0  ALB ALG ARG ARM AUS AUT AZE BEL BIH BLR BOL BR...

                                            1   2  \
 0  homeaccountFAQhelpsupport<!-- lg(); //--> NaN

                                  3
 0  A to Z playerclubrefereemanager  ,
                                                    0
 0  ALB ALG ARG ARM AUS AUT AZE BEL BIH BLR BOL BR...
 1  ENG ESP EST FIN FRA GEO GER GRE HUN IRL IRN IS...
 2  MNE NED NIR NOR PAR PER POL POR QAT ROU RSA RU...,
     0    1    2    3    4    5    6    7    8    9   ...   13   14   15   16  \
 0  ALB  ALG  ARG  ARM  AUS  AUT  AZE  BEL  BIH  BLR  ...  CHI  CHN  COL  CRC

     17   18   19   20   21   22
 0  CRO  CYP  CZE  DEN  ECU  EGY

 [1 rows x 23 columns],
     0    1    2    3    4    5    6    7    8    9   ...   13   14   15   16  \
 0  ENG  ESP  EST  FIN  FRA  GEO  GER  GRE  HUN  IRL  ...  ITA  JPN  KAZ  KOR

     17   18   19   20   21   22
 0  LTU  LVA  MDA  MEX  MKD  MLT

 [1 rows x 23 columns],
     0    1    2    3    4    5    6    7    8    9   ...   13   14   15   16  \
 0  MNE  NED  NIR  NOR  PAR  PER  POL  POR  QAT  ROU  ...  SRB  SUI  SVK  SVN

     17   18   19   20   21   22
 0  SWE  TUR  UKR  URU  USA  VEN

 [1 rows x 23 columns],
                          0
 0                     home
 1                  account
 2                      FAQ
 3                     help
 4  support<!-- lg(); //-->,
                           0
 0                    A to Z
 1  playerclubrefereemanager,
                 0                                                  1
 0  Season archive  2023/242022/232020/212019/202018/192017/182016...,
     0                                                  1  \
 0 NaN  1 Manchester City932 Liverpool923 Chelsea744 T...

                                                    2  \
 0  1 Fulham902 Bournemouth883 Huddersfield Town82...

                                                    3
 0  1 Wigan Athletic922 Rotherham United903 Milton...  ,
      0   1   2                  3   4
 0  NaN   1 NaN    Manchester City  93
 1  NaN   2 NaN          Liverpool  92
 2  NaN   3 NaN            Chelsea  74
 3  NaN   4 NaN  Tottenham Hotspur  71
 4  NaN   5 NaN            Arsenal  69
 5  NaN   6 NaN  Manchester United  58
 6  NaN   7 NaN    West Ham United  56
 7  NaN   8 NaN     Leicester City  52
 8  NaN   9 NaN      Brighton & HA  51
 9  NaN  10 NaN             Wolves  51
 10 NaN  11 NaN   Newcastle United  49
 11 NaN  12 NaN     Crystal Palace  48
 12 NaN  13 NaN          Brentford  46
 13 NaN  14 NaN        Aston Villa  45
 14 NaN  15 NaN        Southampton  40
 15 NaN  16 NaN            Everton  39
 16 NaN  17 NaN       Leeds United  38
 17 NaN  18 NaN            Burnley  35
 18 NaN  19 NaN            Watford  23
 19 NaN  20 NaN       Norwich City  22,
      0   1   2                    3   4
 0  NaN   1 NaN               Fulham  90
 1  NaN   2 NaN          Bournemouth  88
 2  NaN   3 NaN    Huddersfield Town  82
 3  NaN   4 NaN    Nottingham Forest  80
 4  NaN   5 NaN     Sheffield United  75
 5  NaN   6 NaN           Luton Town  75
 6  NaN   7 NaN        Middlesbrough  70
 7  NaN   8 NaN     Blackburn Rovers  69
 8  NaN   9 NaN             Millwall  69
 9  NaN  10 NaN                  WBA  67
 10 NaN  11 NaN                  QPR  66
 11 NaN  12 NaN        Coventry City  64
 12 NaN  13 NaN    Preston North End  64
 13 NaN  14 NaN           Stoke City  62
 14 NaN  15 NaN         Swansea City  61
 15 NaN  16 NaN            Blackpool  60
 16 NaN  17 NaN         Bristol City  55
 17 NaN  18 NaN         Cardiff City  53
 18 NaN  19 NaN            Hull City  51
 19 NaN  20 NaN      Birmingham City  47
 20 NaN  21 NaN              Reading  41
 21 NaN  22 NaN  Peterborough United  37
 22 NaN  23 NaN         Derby County  34
 23 NaN  24 NaN             Barnsley  30,
      0   1   2                    3   4
 0  NaN   1 NaN       Wigan Athletic  92
 1  NaN   2 NaN     Rotherham United  90
 2  NaN   3 NaN   Milton Keynes Dons  89
 3  NaN   4 NaN  Sheffield Wednesday  85
 4  NaN   5 NaN           Sunderland  84
 5  NaN   6 NaN    Wycombe Wanderers  83
 6  NaN   7 NaN      Plymouth Argyle  80
 7  NaN   8 NaN        Oxford United  76
 8  NaN   9 NaN     Bolton Wanderers  73
 9  NaN  10 NaN           Portsmouth  73
 10 NaN  11 NaN         Ipswich Town  70
 11 NaN  12 NaN   Accrington Stanley  61
 12 NaN  13 NaN    Charlton Athletic  59
 13 NaN  14 NaN     Cambridge United  58
 14 NaN  15 NaN      Cheltenham Town  56
 15 NaN  16 NaN        Burton Albion  53
 16 NaN  17 NaN         Lincoln City  52
 17 NaN  18 NaN      Shrewsbury Town  50
 18 NaN  19 NaN            Morecambe  42
 19 NaN  20 NaN       Fleetwood Town  40
 20 NaN  21 NaN           Gillingham  40
 21 NaN  22 NaN     Doncaster Rovers  38
 22 NaN  23 NaN        AFC Wimbledon  37
 23 NaN  24 NaN      Crewe Alexandra  29,
                                                    0  \
 0  1 Forest Green Rovers842 Exeter City843 Bristo...

                                                    1  \
 0  1 Stockport County942 Wrexham883 Solihull Moor...

                                                    2
 0  National League North1 Gateshead942 Brackley T...  ,
      0   1   2                    3   4
 0  NaN   1 NaN  Forest Green Rovers  84
 1  NaN   2 NaN          Exeter City  84
 2  NaN   3 NaN       Bristol Rovers  80
 3  NaN   4 NaN     Northampton Town  80
 4  NaN   5 NaN            Port Vale  78
 5  NaN   6 NaN         Swindon Town  77
 6  NaN   7 NaN       Mansfield Town  77
 7  NaN   8 NaN        Sutton United  76
 8  NaN   9 NaN      Tranmere Rovers  75
 9  NaN  10 NaN         Salford City  70
 10 NaN  11 NaN       Newport County  69
 11 NaN  12 NaN         Crawley Town  61
 12 NaN  13 NaN        Leyton Orient  58
 13 NaN  14 NaN        Bradford City  58
 14 NaN  15 NaN    Colchester United  55
 15 NaN  16 NaN              Walsall  54
 16 NaN  17 NaN    Hartlepool United  54
 17 NaN  18 NaN             Rochdale  53
 18 NaN  19 NaN       Harrogate Town  53
 19 NaN  20 NaN      Carlisle United  53
 20 NaN  21 NaN            Stevenage  47
 21 NaN  22 NaN               Barrow  44
 22 NaN  23 NaN      Oldham Athletic  38
 23 NaN  24 NaN    Scunthorpe United  26,
      0   1   2                     3   4
 0  NaN   1 NaN      Stockport County  94
 1  NaN   2 NaN               Wrexham  88
 2  NaN   3 NaN        Solihull Moors  87
 3  NaN   4 NaN            FC Halifax  84
 4  NaN   5 NaN          Notts County  82
 5  NaN   6 NaN          Grimsby Town  77
 6  NaN   7 NaN          Chesterfield  74
 7  NaN   8 NaN  Dagenham & Redbridge  73
 8  NaN   9 NaN          Boreham Wood  67
 9  NaN  10 NaN               Bromley  67
 10 NaN  11 NaN        Torquay United  66
 11 NaN  12 NaN           Yeovil Town  59
 12 NaN  13 NaN       Southend United  58
 13 NaN  14 NaN            Altrincham  55
 14 NaN  15 NaN                Woking  53
 15 NaN  16 NaN            Wealdstone  53
 16 NaN  17 NaN     Maidenhead United  51
 17 NaN  18 NaN                Barnet  50
 18 NaN  19 NaN             Eastleigh  46
 19 NaN  20 NaN        Aldershot Town  43
 20 NaN  21 NaN      King's Lynn Town  34
 21 NaN  22 NaN              Weymouth  28
 22 NaN  23 NaN        Dover Athletic   1,
                                                    0
 0                              National League North
 1  1 Gateshead942 Brackley Town873 AFC Fylde804 K...,
      0   1   2                       3   4
 0  NaN   1 NaN               Gateshead  94
 1  NaN   2 NaN           Brackley Town  87
 2  NaN   3 NaN               AFC Fylde  80
 3  NaN   4 NaN  Kidderminster Harriers  74
 4  NaN   5 NaN               York City  66
 5  NaN   6 NaN                 Chorley  65
 6  NaN   7 NaN           Boston United  63
 7  NaN   8 NaN          Kettering Town  61
 8  NaN   9 NaN           Alfreton Town  61
 9  NaN  10 NaN         Spennymoor Town  60
 10 NaN  11 NaN               Southport  57
 11 NaN  12 NaN                Hereford  55
 12 NaN  13 NaN              Darlington  53
 13 NaN  14 NaN           Curzon Ashton  52
 14 NaN  15 NaN              Leamington  48
 15 NaN  16 NaN         Gloucester City  46
 16 NaN  17 NaN    Bradford Park Avenue  44
 17 NaN  18 NaN          Blyth Spartans  43
 18 NaN  19 NaN             AFC Telford  37
 19 NaN  20 NaN          Farsley Celtic  37
 20 NaN  21 NaN                Guiseley  35
 21 NaN  22 NaN                 Chester   0,
                                                    0
 0  National League South1 Maidstone United872 Dor...,
                                                    0
 0                              National League South
 1  1 Maidstone United872 Dorking Wanderers813 Ebb...,
      0   1   2                           3   4
 0  NaN   1 NaN            Maidstone United  87
 1  NaN   2 NaN           Dorking Wanderers  81
 2  NaN   3 NaN            Ebbsfleet United  76
 3  NaN   4 NaN                    Dartford  74
 4  NaN   5 NaN                 Oxford City  69
 5  NaN   6 NaN          Eastbourne Borough  60
 6  NaN   7 NaN             Chippenham Town  59
 7  NaN   8 NaN      Havant & Waterlooville  57
 8  NaN   9 NaN             St. Albans City  52
 9  NaN  10 NaN              Dulwich Hamlet  51
 10 NaN  11 NaN  Hampton & Richmond Borough  51
 11 NaN  12 NaN             Hungerford Town  49
 12 NaN  13 NaN                 Slough Town  49
 13 NaN  14 NaN             Concord Rangers  49
 14 NaN  15 NaN        Hemel Hempstead Town  48
 15 NaN  16 NaN            Tonbridge Angels  45
 16 NaN  17 NaN              Braintree Town  45
 17 NaN  18 NaN                   Bath City  45
 18 NaN  19 NaN             Chelmsford City  41
 19 NaN  20 NaN              Welling United  38
 20 NaN  21 NaN             Billericay Town  36]

In [56]:
len(df)

21

In [58]:
df[20]

     0   1   2                           3   4
0  NaN   1 NaN            Maidstone United  87
1  NaN   2 NaN           Dorking Wanderers  81
2  NaN   3 NaN            Ebbsfleet United  76
3  NaN   4 NaN                    Dartford  74
4  NaN   5 NaN                 Oxford City  69
5  NaN   6 NaN          Eastbourne Borough  60
6  NaN   7 NaN             Chippenham Town  59
7  NaN   8 NaN      Havant & Waterlooville  57
8  NaN   9 NaN             St. Albans City  52
9  NaN  10 NaN              Dulwich Hamlet  51
10 NaN  11 NaN  Hampton & Richmond Borough  51
11 NaN  12 NaN             Hungerford Town  49
12 NaN  13 NaN                 Slough Town  49
13 NaN  14 NaN             Concord Rangers  49
14 NaN  15 NaN        Hemel Hempstead Town  48
15 NaN  16 NaN            Tonbridge Angels  45
16 NaN  17 NaN              Braintree Town  45
17 NaN  18 NaN                   Bath City  45
18 NaN  19 NaN             Chelmsford City  41
19 NaN  20 NaN              Welling United  38
20 NaN  21 NaN             Billericay Town  36

In [60]:
df[2]

                                                   0
0  ALB ALG ARG ARM AUS AUT AZE BEL BIH BLR BOL BR...
1  ENG ESP EST FIN FRA GEO GER GRE HUN IRL IRN IS...
2  MNE NED NIR NOR PAR PER POL POR QAT ROU RSA RU...

In [61]:
df1=df[20
      ]

In [62]:
df1=type(df[20])

In [63]:
df1

pandas.core.frame.DataFrame

In [64]:
df = pd.read_html("https://www.espncricinfo.com/records/highest-career-batting-average-282910")

In [65]:
df

[               Player       Span  Mat  Inns  NO  Runs    HS    Ave     BF  \
 0    DG Bradman (AUS)  1928-1948   52    80  10  6996   334  99.94  9800+
 1      HC Brook (ENG)  2022-2023   12    20   1  1181   186  62.15   1287
 2      AC Voges (AUS)  2015-2016   20    31   7  1485  269*  61.87   2667
 3     RG Pollock (SA)  1963-1970   23    41   4  2256   274  60.97  1707+
 4     GA Headley (WI)  1930-1954   22    40   4  2190  270*  60.83   416+
 ..                ...        ...  ...   ...  ..   ...   ...    ...    ...
 57   KD Walters (AUS)  1965-1981   74   125  14  5357   250  48.26  8662+
 58  GC Smith (ICC/SA)  2002-2014  117   205  13  9265   277  48.25  15525
 59  WH Ponsford (AUS)  1924-1934   29    48   4  2122   266  48.22  3118+
 60    SJ McCabe (AUS)  1930-1938   39    62   5  2748   232  48.21  3217+
 61   DR Jardine (ENG)  1928-1934   22    33   6  1296   127  48.00  2110+

        SR  100  50   0    4s  6s
 0   58.60   29  13   7  626+   6
 1   91.76    4   7   1   141  23
 2   55.68    5   4   2   186   5
 3   54.48    7  11   1  246+  11
 4   56.00   10   5   2  104+   1
 ..    ...  ...  ..  ..   ...  ..
 57  49.16   15  33   4  525+  23
 58  59.67   27  38  11  1165  24
 59  44.77    7   6   1  119+   0
 60  60.02    6  13   4  241+  5+
 61  25.59    1  10   2   53+   0

 [62 rows x 15 columns]]

In [66]:
len(df)

1

In [68]:
df[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [71]:
df1 =df[0]

In [72]:
df1.to_csv("cri_avg.csv")

In [1]:
import pandas as pd

In [3]:
df= pd.read_html("https://www.espncricinfo.com/records/highest-career-batting-average-282910")

In [4]:
df

[               Player       Span  Mat  Inns  NO  Runs    HS    Ave     BF  \
 0    DG Bradman (AUS)  1928-1948   52    80  10  6996   334  99.94  9800+
 1      HC Brook (ENG)  2022-2023   12    20   1  1181   186  62.15   1287
 2      AC Voges (AUS)  2015-2016   20    31   7  1485  269*  61.87   2667
 3     RG Pollock (SA)  1963-1970   23    41   4  2256   274  60.97  1707+
 4     GA Headley (WI)  1930-1954   22    40   4  2190  270*  60.83   416+
 ..                ...        ...  ...   ...  ..   ...   ...    ...    ...
 57   KD Walters (AUS)  1965-1981   74   125  14  5357   250  48.26  8662+
 58  GC Smith (ICC/SA)  2002-2014  117   205  13  9265   277  48.25  15525
 59  WH Ponsford (AUS)  1924-1934   29    48   4  2122   266  48.22  3118+
 60    SJ McCabe (AUS)  1930-1938   39    62   5  2748   232  48.21  3217+
 61   DR Jardine (ENG)  1928-1934   22    33   6  1296   127  48.00  2110+

        SR  100  50   0    4s  6s
 0   58.60   29  13   7  626+   6
 1   91.76    4   7   1   141  23
 2   55.68    5   4   2   186   5
 3   54.48    7  11   1  246+  11
 4   56.00   10   5   2  104+   1
 ..    ...  ...  ..  ..   ...  ..
 57  49.16   15  33   4  525+  23
 58  59.67   27  38  11  1165  24
 59  44.77    7   6   1  119+   0
 60  60.02    6  13   4  241+  5+
 61  25.59    1  10   2   53+   0

 [62 rows x 15 columns]]

In [5]:
len(df)

1

In [6]:
df[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [7]:
l= pd.read_html("https://www.espncricinfo.com/records/tournament/batting-most-runs-career/icc-cricket-world-cup-2023-24-15338")

In [8]:
l

[                     Player       Span  Mat  Inns  NO Runs    HS    Ave   BF  \
 0             V Kohli (IND)  2023-2023   11    11   3  765   117  95.62  847
 1           RG Sharma (IND)  2023-2023   11    11   0  597   131  54.27  474
 2            Q de Kock (SA)  2023-2023   10    10   0  594   174  59.40  555
 3           R Ravindra (NZ)  2023-2023   10    10   1  578  123*  64.22  543
 4          DJ Mitchell (NZ)  2023-2023   10     9   1  552   134  69.00  497
 ..                      ...        ...  ...   ...  ..  ...   ...    ...  ...
 141      MADI Hemantha (SL)  2023-2023    2     2   1    4    4*   4.00    4
 142      JR Hazlewood (AUS)  2023-2023   11     5   3    4     2   2.00    5
 143  Fazalhaq Farooqi (AFG)  2023-2023    6     3   2    2    2*   2.00    9
 144          AT Carey (AUS)  2023-2023    1     1   0    -     0   0.00    2
 145         Usama Mir (PAK)  2023-2023    4     1   0    -     0   0.00    3

          SR 100 50  0  4s  6s
 0     90.31   3  6  1  68   9
 1    125.94   1  3  1  66  31
 2    107.02   4  -  -  57  21
 3    106.44   3  2  -  55  17
 4    111.06   2  2  -  48  22
 ..      ...  .. .. ..  ..  ..
 141  100.00   -  -  1   1   0
 142   80.00   -  -  1   0   0
 143   22.22   -  -  1   0   0
 144    0.00   -  -  1   0   0
 145    0.00   -  -  1   0   0

 [146 rows x 15 columns]]

In [9]:
len(l)

1

In [10]:
l[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (IND),2023-2023,11,11,3,765,117,95.62,847,90.31,3,6,1,68,9
1,RG Sharma (IND),2023-2023,11,11,0,597,131,54.27,474,125.94,1,3,1,66,31
2,Q de Kock (SA),2023-2023,10,10,0,594,174,59.40,555,107.02,4,-,-,57,21
3,R Ravindra (NZ),2023-2023,10,10,1,578,123*,64.22,543,106.44,3,2,-,55,17
4,DJ Mitchell (NZ),2023-2023,10,9,1,552,134,69.00,497,111.06,2,2,-,48,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,MADI Hemantha (SL),2023-2023,2,2,1,4,4*,4.00,4,100.00,-,-,1,1,0
142,JR Hazlewood (AUS),2023-2023,11,5,3,4,2,2.00,5,80.00,-,-,1,0,0
143,Fazalhaq Farooqi (AFG),2023-2023,6,3,2,2,2*,2.00,9,22.22,-,-,1,0,0
144,AT Carey (AUS),2023-2023,1,1,0,-,0,0.00,2,0.00,-,-,1,0,0
145,Usama Mir (PAK),2023-2023,4,1,0,-,0,0.00,3,0.00,-,-,1,0,0

In [13]:
df = pd.read_html("https://www.cricbuzz.com/cricket-series/5945/indian-premier-league-2023/points-table")

HTTPError: HTTP Error 403: Forbidden

In [ ]:
df

In [14]:
pd.read_html("https://www.cricbuzz.com/cricket-series/5945/indian-premier-league-2023/points-table")

HTTPError: HTTP Error 403: Forbidden

In [15]:
import pandas as pd

In [17]:
pd.read_html("https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting")

HTTPError: HTTP Error 403: Forbidden

In [18]:
pd.read_html("https://www.espncricinfo.com/records/tournament/batting-most-runs-career/icc-cricket-world-cup-2023-24-15338")

[                     Player       Span  Mat  Inns  NO Runs    HS    Ave   BF  \
 0             V Kohli (IND)  2023-2023   11    11   3  765   117  95.62  847
 1           RG Sharma (IND)  2023-2023   11    11   0  597   131  54.27  474
 2            Q de Kock (SA)  2023-2023   10    10   0  594   174  59.40  555
 3           R Ravindra (NZ)  2023-2023   10    10   1  578  123*  64.22  543
 4          DJ Mitchell (NZ)  2023-2023   10     9   1  552   134  69.00  497
 ..                      ...        ...  ...   ...  ..  ...   ...    ...  ...
 141      MADI Hemantha (SL)  2023-2023    2     2   1    4    4*   4.00    4
 142      JR Hazlewood (AUS)  2023-2023   11     5   3    4     2   2.00    5
 143  Fazalhaq Farooqi (AFG)  2023-2023    6     3   2    2    2*   2.00    9
 144          AT Carey (AUS)  2023-2023    1     1   0    -     0   0.00    2
 145         Usama Mir (PAK)  2023-2023    4     1   0    -     0   0.00    3

          SR 100 50  0  4s  6s
 0     90.31   3  6  1  68   9
 1    125.94   1  3  1  66  31
 2    107.02   4  -  -  57  21
 3    106.44   3  2  -  55  17
 4    111.06   2  2  -  48  22
 ..      ...  .. .. ..  ..  ..
 141  100.00   -  -  1   1   0
 142   80.00   -  -  1   0   0
 143   22.22   -  -  1   0   0
 144    0.00   -  -  1   0   0
 145    0.00   -  -  1   0   0

 [146 rows x 15 columns]]

In [19]:
f= pd.read_html("https://www.theguardian.com/football/tables")

In [20]:
f

[                                P                            Team  \
 0                               1                       Liverpool
 1                               2                     Aston Villa
 2                               3                        Man City
 3                               4                         Arsenal
 4  View full Premier League table  View full Premier League table

                                GP                               W  \
 0                              20                              13
 1                              20                              13
 2                              19                              12
 3                              20                              12
 4  View full Premier League table  View full Premier League table

                                 D                               L  \
 0                               6                               1
 1                               3                               4
 2                               4                               3
 3                               4                               4
 4  View full Premier League table  View full Premier League table

                                 F                               A  \
 0                              43                              18
 1                              43                              27
 2                              45                              21
 3                              37                              20
 4  View full Premier League table  View full Premier League table

                                GD                             Pts  \
 0                              25                              45
 1                              16                              42
 2                              24                              40
 3                              17                              40
 4  View full Premier League table  View full Premier League table

                                                 Form
 0  Won 2-1 against C Palace  Drew 0-0 with Man Ut...
 1  Won 1-0 against Arsenal  Won 2-1 against Brent...
 2  Lost 0-1 to Aston Villa  Won 2-1 against Luton...
 3  Lost 0-1 to Aston Villa  Won 2-0 against Brigh...
 4                     View full Premier League table  ,
                             P                        Team  \
 0                           1                  Leverkusen
 1                           2                      Bayern
 2                           3                   Stuttgart
 3                           4                  RB Leipzig
 4  View full Bundesliga table  View full Bundesliga table

                            GP                           W  \
 0                          16                          13
 1                          15                          12
 2                          16                          11
 3                          16                          10
 4  View full Bundesliga table  View full Bundesliga table

                             D                           L  \
 0                           3                           0
 1                           2                           1
 2                           1                           4
 3                           3                           3
 4  View full Bundesliga table  View full Bundesliga table

                             F                           A  \
 0                          46                          12
 1                          49                          15
 2                          37                          19
 3                          38                          17
 4  View full Bundesliga table  View full Bundesliga table

                            GD                         Pts  \
 0                          34                          42
 1                          34                          38
 2                          18                          34
 3                          21                          33
 4  View full Bundesliga table  View full Bundesliga table

                                                 Form
 0  Won 3-0 against Werder Bremen  Drew 1-1 with D...
 1  Won 4-2 against Heidenheim  Won 1-0 against Co...
 2  Won 2-1 against Eintracht Frankfurt  Won 2-0 a...
 3  Lost 1-2 to Wolfsburg  Won 2-1 against Heidenh...
 4                         View full Bundesliga table  ,
                          P                     Team                       GP  \
 0                        1                    Inter                       19
 1                        2                 Juventus                       19
 2                        3                 AC Milan                       19
 3                        4               Fiorentina                       19
 4  View full Serie A table  View full Serie A table  View full Serie A table

                          W                        D                        L  \
 0                       15                        3                        1
 1                       14                        4                        1
 2                       12                        3                        4
 3                       10                        3                        6
 4  View full Serie A table  View full Serie A table  View full Serie A table

                          F                        A                       GD  \
 0                       44                        9                       35
 1                       29                       12                       17
 2                       35                       20                       15
 3                       27                       19                        8
 4  View full Serie A table  View full Serie A table  View full Serie A table

                        Pts                                               Form
 0                       48  Won 4-0 against Udinese  Won 2-0 against Lazio...
 1                       46  Won 1-0 against Napoli  Drew 1-1 with Genoa  W...
 2                       39  Lost 2-3 to Atalanta  Won 3-0 against Monza  D...
 3                       33  Drew 1-1 with Roma  Won 1-0 against Verona  Wo...
 4  View full Serie A table                            View full Serie A table  ,
                          P                     Team                       GP  \
 0                        1              Real Madrid                       19
 1                        2                   Girona                       19
 2                        3                Barcelona                       19
 3                        4                 A Bilbao                       19
 4  View full La Liga table  View full La Liga table  View full La Liga table

                          W                        D                        L  \
 0                       15                        3                        1
 1                       15                        3                        1
 2                       12                        5                        2
 3                       11                        5                        3
 4  View full La Liga table  View full La Liga table  View full La Liga table

                          F                        A                       GD  \
 0                       40                       11                       29
 1                       46                       24                       22
 2                       36                       22                       14
 3                       36                       19                       17
 4  View full La Liga table  View full La Liga table  View full La Liga table

                        Pts                                               Form
 0                       48  Won 2-0 against Granada  Drew 1-1 with Real Be...
 1                       48  Won 2-1 against Valencia  Won 4-2 against Barc...
 2                       41  Won 1-0 against Atlético  Lost 2-4 to Girona  ...
 3                       38  Won 4-0 against Rayo Vallecano  Drew 1-1 with ...
 4  View full La Liga table                            View full La Liga table  ,
                          P                     Team                       GP  \
 0                        1                      PSG                       17
 1                        2                     Nice                       17
 2                        3                   Monaco                       17
 3                        4                    Brest                       17
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                          W                        D                        L  \
 0                       12                        4                        1
 1                       10                        5                        2
 2                       10                        3                        4
 3                        9                        4                        4
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                          F                        A                       GD  \
 0                       42                       14                       28
 1                       19                        9                       10
 2                       33                       22                       11
 3                       25                       15                       10
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                        Pts                                               Form
 0                       40  Won 5-2 against Monaco  Won 2-0 against Le Hav...
 1                       35  Won 1-0 against Toulouse  Lost 0-1 to Nantes  ...
 2                       33  Lost 2-5 to PSG  Won 2-0 against Montpellier  ...
 3                       31  Won 3-0 against Clermont Foot  Drew 1-1 with S...
 4  View full Ligue 1 table                            View full Ligue 1 table  ,
                                       P                                  Team  \
 0                                     1                         Chelsea Women
 1                                     2                        Man City Women
 2                                     3                         Arsenal Women
 3                                     4                         Man Utd Women
 4  View full Women's Super League table  View full Women's Super League table

                                      GP                                     W  \
 0                                    10                                     8
 1                                    10                                     7
 2                                    10                                     7
 3                                    10                                     5
 4  View full Women's Super League table  View full Women's Super League table

                                       D                                     L  \
 0                                     1                                     1
 1                                     1                                     2
 2                                     1                                     2
 3                                     3                                     2
 4  View full Women's Super League table  View full Women's Super League table

                                       F                                     A  \
 0                                    32                                    11
 1                                    26                                     7
 2                                    24                                    10
 3                                    25                                    11
 4  View full Women's Super League table  View full Women's Super League table

                                      GD                                   Pts  \
 0                                    21                                    25
 1                                    19                                    22
 2                                    14                                    22
 3                                    14                                    18
 4  View full Women's Super League table  View full Women's Super League table

                                                 Form
 0  Won 3-0 against Everton Women  Won 5-1 against...
 1  Lost 0-1 to Brighton & Hove Albion Women  Won ...
 2  Won 6-2 against Leicester Women  Won 3-0 again...
 3  Won 5-0 against West Ham Women  Lost 1-3 to Ma...
 4               View full Women's Super League table  ,
    P        Team  GP  W  D  L   F  A  GD  Pts  \
 0  1      Bayern   6  5  1  0  12  6   6   16
 1  2  Copenhagen   6  2  2  2   8  8   0    8

                                                 Form
 0  Won 2-1 against Copenhagen  Won 3-1 against Ga...
 1  Lost 1-2 to Bayern  Lost 0-1 to Man Utd  Won 4...  ,
                                   P                              Team  \
 0                                 1                           Arsenal
 1                                 2                               PSV
 2  View full Champions League table  View full Champions League table

                                  GP                                 W  \
 0                                 6                                 4
 1                                 6                                 2
 2  View full Champions League table  View full Champions League table

                                   D                                 L  \
 0                                 1                                 1
 1                                 3                                 1
 2  View full Champions League table  View full Champions League table

                                   F                                 A  \
 0                                16                                 4
 1                                 8                                10
 2  View full Champions League table  View full Champions League table

                                  GD                               Pts  \
 0                                12                                13
 1                                -2                                 9
 2  View full Champions League table  View full Champions League table

                                                 Form
 0  Lost 1-2 to Lens  Won 2-1 against Sevilla  Won...
 1  Drew 2-2 with Sevilla  Drew 1-1 with Lens  Won...
 2                   View full Champions League table  ,
    P      Team  GP  W  D  L   F  A  GD  Pts  \
 0  1     Spain   8  7  0  1  25  5  20   21
 1  2  Scotland   8  5  2  1  17  8   9   17

                                                 Form
 0  Won 6-0 against Cyprus  Won 2-0 against Scotla...
 1  Won 2-0 against Georgia  Won 3-0 against Cypru...  ,
                                       P                                  Team  \
 0                                     1                                France
 1                                     2                           Netherlands
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                      GP                                     W  \
 0                                     8                                     7
 1                                     8                                     6
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                       D                                     L  \
 0                                     1                                     0
 1                                     0                                     2
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                       F                                     A  \
 0                                    29                                     3
 1                                    17                                     7
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                      GD                                   Pts  \
 0                                    26                                    22
 1                                    10                                    18
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                                 Form
 0  Won 1-0 against Greece  Won 2-0 against Rep of...
 1  Won 2-1 against Rep of Ireland  Lost 1-2 to Fr...
 2               View full Euro 2024 qualifying table  ,
    P             Team  GP  W  D  L   F  A  GD  Pts  \
 0  1  Barcelona Women   4  4  0  0  21  1  20   12
 1  2    Benfica Women   4  2  1  1   3  6  -3    7

                                                 Form
 0  Won 3-2 against Wolfsburg Women  Won 5-0 again...
 1  Lost 0-2 to Bayern Munich Women  Lost 0-5 to B...  ,
                                           P  \
 0                                         1
 1                                         2
 2  View full Women's Champions League table

                                        Team  \
 0                                Lyon Women
 1                               Brann Women
 2  View full Women's Champions League table

                                          GP  \
 0                                         4
 1                                         4
 2  View full Women's Champions League table

                                           W  \
 0                                         3
 1                                         2
 2  View full Women's Champions League table

                                           D  \
 0                                         1
 1                                         1
 2  View full Women's Champions League table

                                           L  \
 0                                         0
 1                                         1
 2  View full Women's Champions League table

                                           F  \
 0                                        16
 1                                         6
 2  View full Women's Champions League table

                                           A  \
 0                                         3
 1                                         6
 2  View full Women's Champions League table

                                          GD  \
 0                                        13
 1                                         0
 2  View full Women's Champions League table

                                         Pts  \
 0                                        10
 1                                         7
 2  View full Women's Champions League table

                                                 Form
 0  Won 2-1 against Chelsea Women  Won 9-0 against...
 1  Won 2-1 against St Polten Women  Won 1-0 again...
 2           View full Women's Champions League table  ,
    P         Team  GP  W  D  L   F  A  GD  Pts  \
 0  1  Netherlands   6  4  0  2  14  6   8   12
 1  2      England   6  4  0  2  15  8   7   12

                                                 Form
 0  Won 2-1 against England  Won 4-0 against Scotl...
 1  Lost 1-2 to Netherlands  Won 1-0 against Belgi...  ,
                                         P  \
 0                                       1
 1                                       2
 2  View full Women's Nations League table

                                      Team  \
 0                                  France
 1                                 Austria

In [21]:
len(f)

27

In [22]:
len(0)

TypeError: object of type 'int' has no len()

In [23]:
f[0]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Liverpool,20,13,6,1,43,18,25,45,Won 2-1 against C Palace Drew 0-0 with Man Ut...
1,2,Aston Villa,20,13,3,4,43,27,16,42,Won 1-0 against Arsenal Won 2-1 against Brent...
2,3,Man City,19,12,4,3,45,21,24,40,Lost 0-1 to Aston Villa Won 2-1 against Luton...
3,4,Arsenal,20,12,4,4,37,20,17,40,Lost 0-1 to Aston Villa Won 2-0 against Brigh...
4,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table

In [24]:
f[1]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Leverkusen,16,13,3,0,46,12,34,42,Won 3-0 against Werder Bremen Drew 1-1 with D...
1,2,Bayern,15,12,2,1,49,15,34,38,Won 4-2 against Heidenheim Won 1-0 against Co...
2,3,Stuttgart,16,11,1,4,37,19,18,34,Won 2-1 against Eintracht Frankfurt Won 2-0 a...
3,4,RB Leipzig,16,10,3,3,38,17,21,33,Lost 1-2 to Wolfsburg Won 2-1 against Heidenh...
4,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table

In [25]:
f[2]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Inter,19,15,3,1,44,9,35,48,Won 4-0 against Udinese Won 2-0 against Lazio...
1,2,Juventus,19,14,4,1,29,12,17,46,Won 1-0 against Napoli Drew 1-1 with Genoa W...
2,3,AC Milan,19,12,3,4,35,20,15,39,Lost 2-3 to Atalanta Won 3-0 against Monza D...
3,4,Fiorentina,19,10,3,6,27,19,8,33,Drew 1-1 with Roma Won 1-0 against Verona Wo...
4,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table,View full Serie A table

In [26]:
f[3]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Real Madrid,19,15,3,1,40,11,29,48,Won 2-0 against Granada Drew 1-1 with Real Be...
1,2,Girona,19,15,3,1,46,24,22,48,Won 2-1 against Valencia Won 4-2 against Barc...
2,3,Barcelona,19,12,5,2,36,22,14,41,Won 1-0 against Atlético Lost 2-4 to Girona ...
3,4,A Bilbao,19,11,5,3,36,19,17,38,Won 4-0 against Rayo Vallecano Drew 1-1 with ...
4,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table,View full La Liga table

In [27]:
f[3].to_csv("laliga.csv", index=False)

In [28]:
f[1]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Leverkusen,16,13,3,0,46,12,34,42,Won 3-0 against Werder Bremen Drew 1-1 with D...
1,2,Bayern,15,12,2,1,49,15,34,38,Won 4-2 against Heidenheim Won 1-0 against Co...
2,3,Stuttgart,16,11,1,4,37,19,18,34,Won 2-1 against Eintracht Frankfurt Won 2-0 a...
3,4,RB Leipzig,16,10,3,3,38,17,21,33,Lost 1-2 to Wolfsburg Won 2-1 against Heidenh...
4,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table,View full Bundesliga table

In [29]:
f[0]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Liverpool,20,13,6,1,43,18,25,45,Won 2-1 against C Palace Drew 0-0 with Man Ut...
1,2,Aston Villa,20,13,3,4,43,27,16,42,Won 1-0 against Arsenal Won 2-1 against Brent...
2,3,Man City,19,12,4,3,45,21,24,40,Lost 0-1 to Aston Villa Won 2-1 against Luton...
3,4,Arsenal,20,12,4,4,37,20,17,40,Lost 0-1 to Aston Villa Won 2-0 against Brigh...
4,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table,View full Premier League table

In [30]:
f[0].to_csv("pl.csv")

In [31]:
f

[                                P                            Team  \
 0                               1                       Liverpool
 1                               2                     Aston Villa
 2                               3                        Man City
 3                               4                         Arsenal
 4  View full Premier League table  View full Premier League table

                                GP                               W  \
 0                              20                              13
 1                              20                              13
 2                              19                              12
 3                              20                              12
 4  View full Premier League table  View full Premier League table

                                 D                               L  \
 0                               6                               1
 1                               3                               4
 2                               4                               3
 3                               4                               4
 4  View full Premier League table  View full Premier League table

                                 F                               A  \
 0                              43                              18
 1                              43                              27
 2                              45                              21
 3                              37                              20
 4  View full Premier League table  View full Premier League table

                                GD                             Pts  \
 0                              25                              45
 1                              16                              42
 2                              24                              40
 3                              17                              40
 4  View full Premier League table  View full Premier League table

                                                 Form
 0  Won 2-1 against C Palace  Drew 0-0 with Man Ut...
 1  Won 1-0 against Arsenal  Won 2-1 against Brent...
 2  Lost 0-1 to Aston Villa  Won 2-1 against Luton...
 3  Lost 0-1 to Aston Villa  Won 2-0 against Brigh...
 4                     View full Premier League table  ,
                             P                        Team  \
 0                           1                  Leverkusen
 1                           2                      Bayern
 2                           3                   Stuttgart
 3                           4                  RB Leipzig
 4  View full Bundesliga table  View full Bundesliga table

                            GP                           W  \
 0                          16                          13
 1                          15                          12
 2                          16                          11
 3                          16                          10
 4  View full Bundesliga table  View full Bundesliga table

                             D                           L  \
 0                           3                           0
 1                           2                           1
 2                           1                           4
 3                           3                           3
 4  View full Bundesliga table  View full Bundesliga table

                             F                           A  \
 0                          46                          12
 1                          49                          15
 2                          37                          19
 3                          38                          17
 4  View full Bundesliga table  View full Bundesliga table

                            GD                         Pts  \
 0                          34                          42
 1                          34                          38
 2                          18                          34
 3                          21                          33
 4  View full Bundesliga table  View full Bundesliga table

                                                 Form
 0  Won 3-0 against Werder Bremen  Drew 1-1 with D...
 1  Won 4-2 against Heidenheim  Won 1-0 against Co...
 2  Won 2-1 against Eintracht Frankfurt  Won 2-0 a...
 3  Lost 1-2 to Wolfsburg  Won 2-1 against Heidenh...
 4                         View full Bundesliga table  ,
                          P                     Team                       GP  \
 0                        1                    Inter                       19
 1                        2                 Juventus                       19
 2                        3                 AC Milan                       19
 3                        4               Fiorentina                       19
 4  View full Serie A table  View full Serie A table  View full Serie A table

                          W                        D                        L  \
 0                       15                        3                        1
 1                       14                        4                        1
 2                       12                        3                        4
 3                       10                        3                        6
 4  View full Serie A table  View full Serie A table  View full Serie A table

                          F                        A                       GD  \
 0                       44                        9                       35
 1                       29                       12                       17
 2                       35                       20                       15
 3                       27                       19                        8
 4  View full Serie A table  View full Serie A table  View full Serie A table

                        Pts                                               Form
 0                       48  Won 4-0 against Udinese  Won 2-0 against Lazio...
 1                       46  Won 1-0 against Napoli  Drew 1-1 with Genoa  W...
 2                       39  Lost 2-3 to Atalanta  Won 3-0 against Monza  D...
 3                       33  Drew 1-1 with Roma  Won 1-0 against Verona  Wo...
 4  View full Serie A table                            View full Serie A table  ,
                          P                     Team                       GP  \
 0                        1              Real Madrid                       19
 1                        2                   Girona                       19
 2                        3                Barcelona                       19
 3                        4                 A Bilbao                       19
 4  View full La Liga table  View full La Liga table  View full La Liga table

                          W                        D                        L  \
 0                       15                        3                        1
 1                       15                        3                        1
 2                       12                        5                        2
 3                       11                        5                        3
 4  View full La Liga table  View full La Liga table  View full La Liga table

                          F                        A                       GD  \
 0                       40                       11                       29
 1                       46                       24                       22
 2                       36                       22                       14
 3                       36                       19                       17
 4  View full La Liga table  View full La Liga table  View full La Liga table

                        Pts                                               Form
 0                       48  Won 2-0 against Granada  Drew 1-1 with Real Be...
 1                       48  Won 2-1 against Valencia  Won 4-2 against Barc...
 2                       41  Won 1-0 against Atlético  Lost 2-4 to Girona  ...
 3                       38  Won 4-0 against Rayo Vallecano  Drew 1-1 with ...
 4  View full La Liga table                            View full La Liga table  ,
                          P                     Team                       GP  \
 0                        1                      PSG                       17
 1                        2                     Nice                       17
 2                        3                   Monaco                       17
 3                        4                    Brest                       17
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                          W                        D                        L  \
 0                       12                        4                        1
 1                       10                        5                        2
 2                       10                        3                        4
 3                        9                        4                        4
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                          F                        A                       GD  \
 0                       42                       14                       28
 1                       19                        9                       10
 2                       33                       22                       11
 3                       25                       15                       10
 4  View full Ligue 1 table  View full Ligue 1 table  View full Ligue 1 table

                        Pts                                               Form
 0                       40  Won 5-2 against Monaco  Won 2-0 against Le Hav...
 1                       35  Won 1-0 against Toulouse  Lost 0-1 to Nantes  ...
 2                       33  Lost 2-5 to PSG  Won 2-0 against Montpellier  ...
 3                       31  Won 3-0 against Clermont Foot  Drew 1-1 with S...
 4  View full Ligue 1 table                            View full Ligue 1 table  ,
                                       P                                  Team  \
 0                                     1                         Chelsea Women
 1                                     2                        Man City Women
 2                                     3                         Arsenal Women
 3                                     4                         Man Utd Women
 4  View full Women's Super League table  View full Women's Super League table

                                      GP                                     W  \
 0                                    10                                     8
 1                                    10                                     7
 2                                    10                                     7
 3                                    10                                     5
 4  View full Women's Super League table  View full Women's Super League table

                                       D                                     L  \
 0                                     1                                     1
 1                                     1                                     2
 2                                     1                                     2
 3                                     3                                     2
 4  View full Women's Super League table  View full Women's Super League table

                                       F                                     A  \
 0                                    32                                    11
 1                                    26                                     7
 2                                    24                                    10
 3                                    25                                    11
 4  View full Women's Super League table  View full Women's Super League table

                                      GD                                   Pts  \
 0                                    21                                    25
 1                                    19                                    22
 2                                    14                                    22
 3                                    14                                    18
 4  View full Women's Super League table  View full Women's Super League table

                                                 Form
 0  Won 3-0 against Everton Women  Won 5-1 against...
 1  Lost 0-1 to Brighton & Hove Albion Women  Won ...
 2  Won 6-2 against Leicester Women  Won 3-0 again...
 3  Won 5-0 against West Ham Women  Lost 1-3 to Ma...
 4               View full Women's Super League table  ,
    P        Team  GP  W  D  L   F  A  GD  Pts  \
 0  1      Bayern   6  5  1  0  12  6   6   16
 1  2  Copenhagen   6  2  2  2   8  8   0    8

                                                 Form
 0  Won 2-1 against Copenhagen  Won 3-1 against Ga...
 1  Lost 1-2 to Bayern  Lost 0-1 to Man Utd  Won 4...  ,
                                   P                              Team  \
 0                                 1                           Arsenal
 1                                 2                               PSV
 2  View full Champions League table  View full Champions League table

                                  GP                                 W  \
 0                                 6                                 4
 1                                 6                                 2
 2  View full Champions League table  View full Champions League table

                                   D                                 L  \
 0                                 1                                 1
 1                                 3                                 1
 2  View full Champions League table  View full Champions League table

                                   F                                 A  \
 0                                16                                 4
 1                                 8                                10
 2  View full Champions League table  View full Champions League table

                                  GD                               Pts  \
 0                                12                                13
 1                                -2                                 9
 2  View full Champions League table  View full Champions League table

                                                 Form
 0  Lost 1-2 to Lens  Won 2-1 against Sevilla  Won...
 1  Drew 2-2 with Sevilla  Drew 1-1 with Lens  Won...
 2                   View full Champions League table  ,
    P      Team  GP  W  D  L   F  A  GD  Pts  \
 0  1     Spain   8  7  0  1  25  5  20   21
 1  2  Scotland   8  5  2  1  17  8   9   17

                                                 Form
 0  Won 6-0 against Cyprus  Won 2-0 against Scotla...
 1  Won 2-0 against Georgia  Won 3-0 against Cypru...  ,
                                       P                                  Team  \
 0                                     1                                France
 1                                     2                           Netherlands
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                      GP                                     W  \
 0                                     8                                     7
 1                                     8                                     6
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                       D                                     L  \
 0                                     1                                     0
 1                                     0                                     2
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                       F                                     A  \
 0                                    29                                     3
 1                                    17                                     7
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                      GD                                   Pts  \
 0                                    26                                    22
 1                                    10                                    18
 2  View full Euro 2024 qualifying table  View full Euro 2024 qualifying table

                                                 Form
 0  Won 1-0 against Greece  Won 2-0 against Rep of...
 1  Won 2-1 against Rep of Ireland  Lost 1-2 to Fr...
 2               View full Euro 2024 qualifying table  ,
    P             Team  GP  W  D  L   F  A  GD  Pts  \
 0  1  Barcelona Women   4  4  0  0  21  1  20   12
 1  2    Benfica Women   4  2  1  1   3  6  -3    7

                                                 Form
 0  Won 3-2 against Wolfsburg Women  Won 5-0 again...
 1  Lost 0-2 to Bayern Munich Women  Lost 0-5 to B...  ,
                                           P  \
 0                                         1
 1                                         2
 2  View full Women's Champions League table

                                        Team  \
 0                                Lyon Women
 1                               Brann Women
 2  View full Women's Champions League table

                                          GP  \
 0                                         4
 1                                         4
 2  View full Women's Champions League table

                                           W  \
 0                                         3
 1                                         2
 2  View full Women's Champions League table

                                           D  \
 0                                         1
 1                                         1
 2  View full Women's Champions League table

                                           L  \
 0                                         0
 1                                         1
 2  View full Women's Champions League table

                                           F  \
 0                                        16
 1                                         6
 2  View full Women's Champions League table

                                           A  \
 0                                         3
 1                                         6
 2  View full Women's Champions League table

                                          GD  \
 0                                        13
 1                                         0
 2  View full Women's Champions League table

                                         Pts  \
 0                                        10
 1                                         7
 2  View full Women's Champions League table

                                                 Form
 0  Won 2-1 against Chelsea Women  Won 9-0 against...
 1  Won 2-1 against St Polten Women  Won 1-0 again...
 2           View full Women's Champions League table  ,
    P         Team  GP  W  D  L   F  A  GD  Pts  \
 0  1  Netherlands   6  4  0  2  14  6   8   12
 1  2      England   6  4  0  2  15  8   7   12

                                                 Form
 0  Won 2-1 against England  Won 4-0 against Scotl...
 1  Lost 1-2 to Netherlands  Won 1-0 against Belgi...  ,
                                         P  \
 0                                       1
 1                                       2
 2  View full Women's Nations League table

                                      Team  \
 0                                  France
 1                                 Austria

In [32]:
pl = pd.read_html("https://www.theguardian.com/football/premierleague/table")

In [33]:
pl

[     P             Team  GP   W  D   L   F   A  GD  Pts  \
 0    1        Liverpool  20  13  6   1  43  18  25   45
 1    2      Aston Villa  20  13  3   4  43  27  16   42
 2    3         Man City  19  12  4   3  45  21  24   40
 3    4          Arsenal  20  12  4   4  37  20  17   40
 4    5            Spurs  20  12  3   5  42  29  13   39
 5    6         West Ham  20  10  4   6  33  30   3   34
 6    7         Brighton  20   8  7   5  38  33   5   31
 7    8          Man Utd  20  10  1   9  22  27  -5   31
 8    9        Newcastle  20   9  2   9  39  29  10   29
 9   10          Chelsea  20   8  4   8  34  31   3   28
 10  11           Wolves  20   8  4   8  30  31  -1   28
 11  12  AFC Bournemouth  19   7  4   8  28  35  -7   25
 12  13           Fulham  20   7  3  10  28  35  -7   24
 13  14         C Palace  20   5  6   9  22  29  -7   21
 14  15     Nottm Forest  20   5  5  10  24  35 -11   20
 15  16        Brentford  19   5  4  10  26  31  -5   19
 16  17          Everton  20   8  2  10  24  28  -4   16
 17  18            Luton  19   4  3  12  23  37 -14   15
 18  19          Burnley  20   3  2  15  20  41 -21   11
 19  20        Sheff Utd  20   2  3  15  15  49 -34    9

                                                  Form
 0   Won 2-1 against C Palace  Drew 0-0 with Man Ut...
 1   Won 1-0 against Arsenal  Won 2-1 against Brent...
 2   Lost 0-1 to Aston Villa  Won 2-1 against Luton...
 3   Lost 0-1 to Aston Villa  Won 2-0 against Brigh...
 4   Won 4-1 against Newcastle  Won 2-0 against Not...
 5   Lost 0-5 to Fulham  Won 3-0 against Wolves  Wo...
 6   Drew 1-1 with Burnley  Lost 0-2 to Arsenal  Dr...
 7   Lost 0-3 to AFC Bournemouth  Drew 0-0 with Liv...
 8   Lost 1-4 to Spurs  Won 3-0 against Fulham  Los...
 9   Lost 0-2 to Everton  Won 2-0 against Sheff Utd...
 10  Drew 1-1 with Nottm Forest  Lost 0-3 to West H...
 11  Won 2-0 against C Palace  Won 3-0 against Man ...
 12  Won 5-0 against West Ham  Lost 0-3 to Newcastl...
 13  Lost 1-2 to Liverpool  Drew 2-2 with Man City ...
 14  Drew 1-1 with Wolves  Lost 0-2 to Spurs  Lost ...
 15  Lost 1-2 to Brighton  Lost 0-1 to Sheff Utd  L...
 16  Won 2-0 against Chelsea  Won 2-0 against Burnl...
 17  Lost 3-4 to Arsenal  Lost 1-2 to Man City  Won...
 18  Drew 1-1 with Brighton  Lost 0-2 to Everton  W...
 19  Won 1-0 against Brentford  Lost 0-2 to Chelsea...  ]

In [34]:
pl[0]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Liverpool,20,13,6,1,43,18,25,45,Won 2-1 against C Palace Drew 0-0 with Man Ut...
1,2,Aston Villa,20,13,3,4,43,27,16,42,Won 1-0 against Arsenal Won 2-1 against Brent...
2,3,Man City,19,12,4,3,45,21,24,40,Lost 0-1 to Aston Villa Won 2-1 against Luton...
3,4,Arsenal,20,12,4,4,37,20,17,40,Lost 0-1 to Aston Villa Won 2-0 against Brigh...
4,5,Spurs,20,12,3,5,42,29,13,39,Won 4-1 against Newcastle Won 2-0 against Not...
5,6,West Ham,20,10,4,6,33,30,3,34,Lost 0-5 to Fulham Won 3-0 against Wolves Wo...
6,7,Brighton,20,8,7,5,38,33,5,31,Drew 1-1 with Burnley Lost 0-2 to Arsenal Dr...
7,8,Man Utd,20,10,1,9,22,27,-5,31,Lost 0-3 to AFC Bournemouth Drew 0-0 with Liv...
8,9,Newcastle,20,9,2,9,39,29,10,29,Lost 1-4 to Spurs Won 3-0 against Fulham Los...
9,10,Chelsea,20,8,4,8,34,31,3,28,Lost 0-2 to Everton Won 2-0 against Sheff Utd...
10,11,Wolves,20,8,4,8,30,31,-1,28,Drew 1-1 with Nottm Forest Lost 0-3 to West H...
11,12,AFC Bournemouth,19,7,4,8,28,35,-7,25,Won 2-0 against C Palace Won 3-0 against Man ...
12,13,Fulham,20,7,3,10,28,35,-7,24,Won 5-0 against West Ham Lost 0-3 to Newcastl...
13,14,C Palace,20,5,6,9,22,29,-7,21,Lost 1-2 to Liverpool Drew 2-2 with Man City ...
14,15,Nottm Forest,20,5,5,10,24,35,-11,20,Drew 1-1 with Wolves Lost 0-2 to Spurs Lost ...
15,16,Brentford,19,5,4,10,26,31,-5,19,Lost 1-2 to Brighton Lost 0-1 to Sheff Utd L...
16,17,Everton,20,8,2,10,24,28,-4,16,Won 2-0 against Chelsea Won 2-0 against Burnl...
17,18,Luton,19,4,3,12,23,37,-14,15,Lost 3-4 to Arsenal Lost 1-2 to Man City Won...
18,19,Burnley,20,3,2,15,20,41,-21,11,Drew 1-1 with Brighton Lost 0-2 to Everton W...
19,20,Sheff Utd,20,2,3,15,15,49,-34,9,Won 1-0 against Brentford Lost 0-2 to Chelsea...

In [36]:
pl[0].to_csv("plfull.csv")

In [50]:
d= """
{"name": "shubham",
"email_id" :"shubham.vaidya123@gmail.com",
"tech" : ["ml","dl","nlp"],
"platform": ["techneuron", "kidsneuron", "ineuron"]
}
"""

In [38]:
d

'\n{"name": "shubham",\n"email_id" :"shubham.vaidya123@gmail.com",\n"tech" : ["ml","dl","nlp","ds","cv","bc"],\n"platform": ["techneuron", "kidsneuron", "ineuron"]\n}\n'

In [40]:
pd.DataFrame(d)

ValueError: DataFrame constructor not properly called!

In [41]:
import json

In [51]:
result = json.loads(d)

In [52]:
result

{'name': 'shubham',
 'email_id': 'shubham.vaidya123@gmail.com',
 'tech': ['ml', 'dl', 'nlp'],
 'platform': ['techneuron', 'kidsneuron', 'ineuron']}

In [44]:
type(result)

dict

In [53]:
pd.DataFrame(result)

      name                     email_id tech    platform
0  shubham  shubham.vaidya123@gmail.com   ml  techneuron
1  shubham  shubham.vaidya123@gmail.com   dl  kidsneuron
2  shubham  shubham.vaidya123@gmail.com  nlp     ineuron

In [1]:
import pandas as pd

In [5]:
d= """{
  "posts": [
    { "id": "1", "title": "a title" },
    { "id": "2", "title": "another title" }
  ],
  "comments": [
    { "id": "1", "text": "a comment about post 1", "postId": "1" },
    { "id": "2", "text": "another comment about post 1", "postId": "1" }
  ],
  "profile": {
    "name": "typicode"
  }
}"""

In [6]:
import json

In [7]:
result = json.loads(d)

In [8]:
pd.DataFrame(result)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [9]:
result

{'posts': [{'id': '1', 'title': 'a title'},
  {'id': '2', 'title': 'another title'}],
 'comments': [{'id': '1', 'text': 'a comment about post 1', 'postId': '1'},
  {'id': '2', 'text': 'another comment about post 1', 'postId': '1'}],
 'profile': {'name': 'typicode'}}

In [ ]:
https://api.github.com/repos/pandas-dev/pandas

In [44]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [45]:
dj=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [46]:
dj

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,NaT,CONTRIBUTOR,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...

In [15]:
pd.DataFrame(dj)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56795,2071888936,PR_kwDOAA0YD85jjWVe,56795,Backport PR #56772 on branch 2.2.x (Support la...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #56772: Support large strings in i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56747,2068037030,I_kwDOAA0YD857Q72m,56747,BUG: df.apply(...) method will sometimes retur...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56735,2065955047,I_kwDOAA0YD857I_jn,56735,TST: Ensure base ExtensionArray tests do not u...,...,NaT,MEMBER,NaN,NaN,NaN,geopandas currently needs to copy over some fi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [16]:
dj

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56795,2071888936,PR_kwDOAA0YD85jjWVe,56795,Backport PR #56772 on branch 2.2.x (Support la...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #56772: Support large strings in i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56747,2068037030,I_kwDOAA0YD857Q72m,56747,BUG: df.apply(...) method will sometimes retur...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56735,2065955047,I_kwDOAA0YD857I_jn,56735,TST: Ensure base ExtensionArray tests do not u...,...,NaT,MEMBER,NaN,NaN,NaN,geopandas currently needs to copy over some fi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [17]:
dj["id"]

0     2071888936
1     2071671081
2     2071667672
3     2071507175
4     2071506172
5     2071344813
6     2071305511
7     2071284645
8     2071251340
9     2070926198
10    2070922238
11    2070808866
12    2070405996
13    2069186961
14    2069150222
15    2068990003
16    2068960190
17    2068937927
18    2068902159
19    2068873475
20    2068836605
21    2068087305
22    2068037030
23    2067833712
24    2067195828
25    2066826120
26    2066605326
27    2066578091
28    2066278042
29    2065955047
Name: id, dtype: int64

In [18]:
dj.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [19]:
dj[["user"]]

                                                 user
0   {'login': 'meeseeksmachine', 'id': 39504233, '...
1   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
2   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
3   {'login': 'rohanjain101', 'id': 38412262, 'nod...
4   {'login': 'rohanjain101', 'id': 38412262, 'nod...
5   {'login': 'natmokval', 'id': 91160475, 'node_i...
6   {'login': 'roadrollerdafjorst', 'id': 74137864...
7   {'login': 'mroeschke', 'id': 10647082, 'node_i...
8   {'login': 'zdafoe', 'id': 45864430, 'node_id':...
9   {'login': 'ilyakochik', 'id': 45572664, 'node_...
10  {'login': 'manicko', 'id': 1097057, 'node_id':...
11  {'login': 'WillAyd', 'id': 609873, 'node_id': ...
12  {'login': 'jorisvandenbossche', 'id': 1020496,...
13  {'login': 'bollard', 'id': 358225, 'node_id': ...
14  {'login': 'JackCollins91', 'id': 112877841, 'n...
15  {'login': 'paw-lu', 'id': 30049606, 'node_id':...
16  {'login': 'Lonely-K', 'id': 76517593, 'node_id...
17  {'login': 'aram-cinnamon', 'id': 97805700, 'no...
18  {'login': 'phofl', 'id': 61934744, 'node_id': ...
19  {'login': 'rcyost', 'id': 32645001, 'node_id':...
20  {'login': 'andrewgsavage', 'id': 13157776, 'no...
21  {'login': '8one6', 'id': 4360170, 'node_id': '...
22  {'login': 'AlanCPSC', 'id': 22120384, 'node_id...
23  {'login': 'mroeschke', 'id': 10647082, 'node_i...
24  {'login': 'skshetry', 'id': 18718008, 'node_id...
25  {'login': 'Huanghz2001', 'id': 83120995, 'node...
26  {'login': 'twoertwein', 'id': 6618166, 'node_i...
27  {'login': 'mroeschke', 'id': 10647082, 'node_i...
28  {'login': 'gyanavardhana', 'id': 89439095, 'no...
29  {'login': 'mroeschke', 'id': 10647082, 'node_i...

In [20]:
import requests

In [21]:
url

'https://api.github.com/repos/pandas-dev/pandas'

In [23]:
url

'https://api.github.com/repos/pandas-dev/pandas/issues'

In [24]:
import requests

In [25]:
data = requests.get(url)

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/pandas-dev/pandas/issues (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000002167EDA4910>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [26]:
dj

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56795,2071888936,PR_kwDOAA0YD85jjWVe,56795,Backport PR #56772 on branch 2.2.x (Support la...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #56772: Support large strings in i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56747,2068037030,I_kwDOAA0YD857Q72m,56747,BUG: df.apply(...) method will sometimes retur...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56735,2065955047,I_kwDOAA0YD857I_jn,56735,TST: Ensure base ExtensionArray tests do not u...,...,NaT,MEMBER,NaN,NaN,NaN,geopandas currently needs to copy over some fi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [28]:
import requests
url ="https://api.github.com/repos/pandas-dev/pandas"

In [29]:
data = requests.get(url)

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/pandas-dev/pandas (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000002160128B490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [30]:
url

'https://api.github.com/repos/pandas-dev/pandas'

In [31]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [32]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [33]:
dj

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56795,2071888936,PR_kwDOAA0YD85jjWVe,56795,Backport PR #56772 on branch 2.2.x (Support la...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #56772: Support large strings in i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56747,2068037030,I_kwDOAA0YD857Q72m,56747,BUG: df.apply(...) method will sometimes retur...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56735,2065955047,I_kwDOAA0YD857I_jn,56735,TST: Ensure base ExtensionArray tests do not u...,...,NaT,MEMBER,NaN,NaN,NaN,geopandas currently needs to copy over some fi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [34]:
data= requests.get(dj)

InvalidSchema: No connection adapters were found for "url  \\\n0   https://api.github.com/repos/pandas-dev/pandas...   \n1   https://api.github.com/repos/pandas-dev/pandas...   \n2   https://api.github.com/repos/pandas-dev/pandas...   \n3   https://api.github.com/repos/pandas-dev/pandas...   \n4   https://api.github.com/repos/pandas-dev/pandas...   \n5   https://api.github.com/repos/pandas-dev/pandas...   \n6   https://api.github.com/repos/pandas-dev/pandas...   \n7   https://api.github.com/repos/pandas-dev/pandas...   \n8   https://api.github.com/repos/pandas-dev/pandas...   \n9   https://api.github.com/repos/pandas-dev/pandas...   \n10  https://api.github.com/repos/pandas-dev/pandas...   \n11  https://api.github.com/repos/pandas-dev/pandas...   \n12  https://api.github.com/repos/pandas-dev/pandas...   \n13  https://api.github.com/repos/pandas-dev/pandas...   \n14  https://api.github.com/repos/pandas-dev/pandas...   \n15  https://api.github.com/repos/pandas-dev/pandas...   \n16  https://api.github.com/repos/pandas-dev/pandas...   \n17  https://api.github.com/repos/pandas-dev/pandas...   \n18  https://api.github.com/repos/pandas-dev/pandas...   \n19  https://api.github.com/repos/pandas-dev/pandas...   \n20  https://api.github.com/repos/pandas-dev/pandas...   \n21  https://api.github.com/repos/pandas-dev/pandas...   \n22  https://api.github.com/repos/pandas-dev/pandas...   \n23  https://api.github.com/repos/pandas-dev/pandas...   \n24  https://api.github.com/repos/pandas-dev/pandas...   \n25  https://api.github.com/repos/pandas-dev/pandas...   \n26  https://api.github.com/repos/pandas-dev/pandas...   \n27  https://api.github.com/repos/pandas-dev/pandas...   \n28  https://api.github.com/repos/pandas-dev/pandas...   \n29  https://api.github.com/repos/pandas-dev/pandas...   \n\n                                    repository_url  \\\n0   https://api.github.com/repos/pandas-dev/pandas   \n1   https://api.github.com/repos/pandas-dev/pandas   \n2   https://api.github.com/repos/pandas-dev/pandas   \n3   https://api.github.com/repos/pandas-dev/pandas   \n4   https://api.github.com/repos/pandas-dev/pandas   \n5   https://api.github.com/repos/pandas-dev/pandas   \n6   https://api.github.com/repos/pandas-dev/pandas   \n7   https://api.github.com/repos/pandas-dev/pandas   \n8   https://api.github.com/repos/pandas-dev/pandas   \n9   https://api.github.com/repos/pandas-dev/pandas   \n10  https://api.github.com/repos/pandas-dev/pandas   \n11  https://api.github.com/repos/pandas-dev/pandas   \n12  https://api.github.com/repos/pandas-dev/pandas   \n13  https://api.github.com/repos/pandas-dev/pandas   \n14  https://api.github.com/repos/pandas-dev/pandas   \n15  https://api.github.com/repos/pandas-dev/pandas   \n16  https://api.github.com/repos/pandas-dev/pandas   \n17  https://api.github.com/repos/pandas-dev/pandas   \n18  https://api.github.com/repos/pandas-dev/pandas   \n19  https://api.github.com/repos/pandas-dev/pandas   \n20  https://api.github.com/repos/pandas-dev/pandas   \n21  https://api.github.com/repos/pandas-dev/pandas   \n22  https://api.github.com/repos/pandas-dev/pandas   \n23  https://api.github.com/repos/pandas-dev/pandas   \n24  https://api.github.com/repos/pandas-dev/pandas   \n25  https://api.github.com/repos/pandas-dev/pandas   \n26  https://api.github.com/repos/pandas-dev/pandas   \n27  https://api.github.com/repos/pandas-dev/pandas   \n28  https://api.github.com/repos/pandas-dev/pandas   \n29  https://api.github.com/repos/pandas-dev/pandas   \n\n                                           labels_url  \\\n0   https://api.github.com/repos/pandas-dev/pandas...   \n1   https://api.github.com/repos/pandas-dev/pandas...   \n2   https://api.github.com/repos/pandas-dev/pandas...   \n3   https://api.github.com/repos/pandas-dev/pandas...   \n4   https://api.github.com/repos/pandas-dev/pandas...   \n5   https://api.github.com/repos/pandas-dev/pandas...   \n6   https://api.github.com/repos/pandas-dev/pandas...   \n7   https://api.github.com/repos/pandas-dev/pandas...   \n8   https://api.github.com/repos/pandas-dev/pandas...   \n9   https://api.github.com/repos/pandas-dev/pandas...   \n10  https://api.github.com/repos/pandas-dev/pandas...   \n11  https://api.github.com/repos/pandas-dev/pandas...   \n12  https://api.github.com/repos/pandas-dev/pandas...   \n13  https://api.github.com/repos/pandas-dev/pandas...   \n14  https://api.github.com/repos/pandas-dev/pandas...   \n15  https://api.github.com/repos/pandas-dev/pandas...   \n16  https://api.github.com/repos/pandas-dev/pandas...   \n17  https://api.github.com/repos/pandas-dev/pandas...   \n18  https://api.github.com/repos/pandas-dev/pandas...   \n19  https://api.github.com/repos/pandas-dev/pandas...   \n20  https://api.github.com/repos/pandas-dev/pandas...   \n21  https://api.github.com/repos/pandas-dev/pandas...   \n22  https://api.github.com/repos/pandas-dev/pandas...   \n23  https://api.github.com/repos/pandas-dev/pandas...   \n24  https://api.github.com/repos/pandas-dev/pandas...   \n25  https://api.github.com/repos/pandas-dev/pandas...   \n26  https://api.github.com/repos/pandas-dev/pandas...   \n27  https://api.github.com/repos/pandas-dev/pandas...   \n28  https://api.github.com/repos/pandas-dev/pandas...   \n29  https://api.github.com/repos/pandas-dev/pandas...   \n\n                                         comments_url  \\\n0   https://api.github.com/repos/pandas-dev/pandas...   \n1   https://api.github.com/repos/pandas-dev/pandas...   \n2   https://api.github.com/repos/pandas-dev/pandas...   \n3   https://api.github.com/repos/pandas-dev/pandas...   \n4   https://api.github.com/repos/pandas-dev/pandas...   \n5   https://api.github.com/repos/pandas-dev/pandas...   \n6   https://api.github.com/repos/pandas-dev/pandas...   \n7   https://api.github.com/repos/pandas-dev/pandas...   \n8   https://api.github.com/repos/pandas-dev/pandas...   \n9   https://api.github.com/repos/pandas-dev/pandas...   \n10  https://api.github.com/repos/pandas-dev/pandas...   \n11  https://api.github.com/repos/pandas-dev/pandas...   \n12  https://api.github.com/repos/pandas-dev/pandas...   \n13  https://api.github.com/repos/pandas-dev/pandas...   \n14  https://api.github.com/repos/pandas-dev/pandas...   \n15  https://api.github.com/repos/pandas-dev/pandas...   \n16  https://api.github.com/repos/pandas-dev/pandas...   \n17  https://api.github.com/repos/pandas-dev/pandas...   \n18  https://api.github.com/repos/pandas-dev/pandas...   \n19  https://api.github.com/repos/pandas-dev/pandas...   \n20  https://api.github.com/repos/pandas-dev/pandas...   \n21  https://api.github.com/repos/pandas-dev/pandas...   \n22  https://api.github.com/repos/pandas-dev/pandas...   \n23  https://api.github.com/repos/pandas-dev/pandas...   \n24  https://api.github.com/repos/pandas-dev/pandas...   \n25  https://api.github.com/repos/pandas-dev/pandas...   \n26  https://api.github.com/repos/pandas-dev/pandas...   \n27  https://api.github.com/repos/pandas-dev/pandas...   \n28  https://api.github.com/repos/pandas-dev/pandas...   \n29  https://api.github.com/repos/pandas-dev/pandas...   \n\n                                           events_url  \\\n0   https://api.github.com/repos/pandas-dev/pandas...   \n1   https://api.github.com/repos/pandas-dev/pandas...   \n2   https://api.github.com/repos/pandas-dev/pandas...   \n3   https://api.github.com/repos/pandas-dev/pandas...   \n4   https://api.github.com/repos/pandas-dev/pandas...   \n5   https://api.github.com/repos/pandas-dev/pandas...   \n6   https://api.github.com/repos/pandas-dev/pandas...   \n7   https://api.github.com/repos/pandas-dev/pandas...   \n8   https://api.github.com/repos/pandas-dev/pandas...   \n9   https://api.github.com/repos/pandas-dev/pandas...   \n10  https://api.github.com/repos/pandas-dev/pandas...   \n11  https://api.github.com/repos/pandas-dev/pandas...   \n12  https://api.github.com/repos/pandas-dev/pandas...   \n13  https://api.github.com/repos/pandas-dev/pandas...   \n14  https://api.github.com/repos/pandas-dev/pandas...   \n15  https://api.github.com/repos/pandas-dev/pandas...   \n16  https://api.github.com/repos/pandas-dev/pandas...   \n17  https://api.github.com/repos/pandas-dev/pandas...   \n18  https://api.github.com/repos/pandas-dev/pandas...   \n19  https://api.github.com/repos/pandas-dev/pandas...   \n20  https://api.github.com/repos/pandas-dev/pandas...   \n21  https://api.github.com/repos/pandas-dev/pandas...   \n22  https://api.github.com/repos/pandas-dev/pandas...   \n23  https://api.github.com/repos/pandas-dev/pandas...   \n24  https://api.github.com/repos/pandas-dev/pandas...   \n25  https://api.github.com/repos/pandas-dev/pandas...   \n26  https://api.github.com/repos/pandas-dev/pandas...   \n27  https://api.github.com/repos/pandas-dev/pandas...   \n28  https://api.github.com/repos/pandas-dev/pandas...   \n29  https://api.github.com/repos/pandas-dev/pandas...   \n\n                                             html_url          id  \\\n0     https://github.com/pandas-dev/pandas/pull/56795  2071888936   \n1     https://github.com/pandas-dev/pandas/pull/56794  2071671081   \n2   https://github.com/pandas-dev/pandas/issues/56793  2071667672   \n3     https://github.com/pandas-dev/pandas/pull/56792  2071507175   \n4   https://github.com/pandas-dev/pandas/issues/56791  2071506172   \n5     https://github.com/pandas-dev/pandas/pull/56789  2071344813   \n6     https://github.com/pandas-dev/pandas/pull/56788  2071305511   \n7     https://github.com/pandas-dev/pandas/pull/56787  2071284645   \n8   https://github.com/pandas-dev/pandas/issues/56784  2071251340   \n9   https://github.com/pandas-dev/pandas/issues/56779  2070926198   \n10  https://github.com/pandas-dev/pandas/issues/56778  2070922238   \n11  https://github.com/pandas-dev/pandas/issues/56777  2070808866   \n12  https://github.com/pandas-dev/pandas/issues/56775  2070405996   \n13  https://github.com/pandas-dev/pandas/issues/56764  2069186961   \n14    https://github.com/pandas-dev/pandas/pull/56762  2069150222   \n15    https://github.com/pandas-dev/pandas/pull/56760  2068990003   \n16  https://github.com/pandas-dev/pandas/issues/56759  2068960190   \n17    https://github.com/pandas-dev/pandas/pull/56758  2068937927   \n18    https://github.com/pandas-dev/pandas/pull/56757  2068902159   \n19  https://github.com/pandas-dev/pandas/issues/56756  2068873475   \n20    https://github.com/pandas-dev/pandas/pull/56755  2068836605   \n21  https://github.com/pandas-dev/pandas/issues/56748  2068087305   \n22  https://github.com/pandas-dev/pandas/issues/56747  2068037030   \n23    https://github.com/pandas-dev/pandas/pull/56745  2067833712   \n24    https://github.com/pandas-dev/pandas/pull/56742  2067195828   \n25  https://github.com/pandas-dev/pandas/issues/56740  2066826120   \n26    https://github.com/pandas-dev/pandas/pull/56739  2066605326   \n27    https://github.com/pandas-dev/pandas/pull/56738  2066578091   \n28    https://github.com/pandas-dev/pandas/pull/56736  2066278042   \n29  https://github.com/pandas-dev/pandas/issues/56735  2065955047   \n\n                node_id  number  \\\n0   PR_kwDOAA0YD85jjWVe   56795   \n1   PR_kwDOAA0YD85jinG6   56794   \n2    I_kwDOAA0YD857eyPY   56793   \n3   PR_kwDOAA0YD85jiEkp   56792   \n4    I_kwDOAA0YD857eKz8   56791   \n5   PR_kwDOAA0YD85jhhe5   56789   \n6   PR_kwDOAA0YD85jhYww   56788   \n7   PR_kwDOAA0YD85jhUJ6   56787   \n8    I_kwDOAA0YD857dMmM   56784   \n9    I_kwDOAA0YD857b9N2   56779   \n10   I_kwDOAA0YD857b8P-   56778   \n11   I_kwDOAA0YD857bgki   56777   \n12   I_kwDOAA0YD857Z-Ns   56775   \n13   I_kwDOAA0YD857VUmR   56764   \n14  PR_kwDOAA0YD85jaAtG   56762   \n15  PR_kwDOAA0YD85jZhRZ   56760   \n16   I_kwDOAA0YD857UdO-   56759   \n17  PR_kwDOAA0YD85jZWGA   56758   \n18  PR_kwDOAA0YD85jZO9z   56757   \n19   I_kwDOAA0YD857UIED   56756   \n20  PR_kwDOAA0YD85jZCBi   56755   \n21   I_kwDOAA0YD857RIIJ   56748   \n22   I_kwDOAA0YD857Q72m   56747   \n23  PR_kwDOAA0YD85jVqrc   56745   \n24  PR_kwDOAA0YD85jTdcO   56742   \n25   I_kwDOAA0YD857MUOI   56740   \n26  PR_kwDOAA0YD85jRhDF   56739   \n27  PR_kwDOAA0YD85jRbra   56738   \n28  PR_kwDOAA0YD85jQae_   56736   \n29   I_kwDOAA0YD857I_jn   56735   \n\n                                                title  ... closed_at  \\\n0   Backport PR #56772 on branch 2.2.x (Support la...  ...       NaT   \n1   BUG: NDFrame.__setattr__ calls NDFrame.__getat...  ...       NaT   \n2   BUG: NDFrame.__setattr__ calls NDFrame.__getat...  ...       NaT   \n3   Series.str.find fix for pd.ArrowDtype(pa.strin...  ...       NaT   \n4   BUG: Series.str.find with pd.ArrowDtype(pa.str...  ...       NaT   \n5   DOC: add to to_offset the missing parameter is...  ...       NaT   \n6   Bug: Interchange protocol implementation does ...  ...       NaT   \n7                    TST/CLN: Test parametrizations 4  ...       NaT   \n8   BUG: DataFrame.drop_duplicates method fails wh...  ...       NaT   \n9   BUG: Concat for two dataframes row-wise fails ...  ...       NaT   \n10  BUG: to_csv with mode 'a' and zip compression ...  ...       NaT   \n11  BUG: Pandas extension Int dtypes break datafra...  ...       NaT   \n12  REGR: DatetimeTZDtype.__from_arrow__ interpret...  ...       NaT   \n13  BUG: `pd.cut` with `IntervalIndex` produces un...  ...       NaT   \n14  BUG DOC: Bug docs won't build (s3 bucket does ...  ...       NaT   \n15  TYP: Persist typing information for pipe args ...  ...       NaT   \n16  PERF: Potential room for optimizaing the perfo...  ...       NaT   \n17  raise TypeError if an offset not supported as ...  ...       NaT   \n18  ENH: Implement interpolation for arrow and mas...  ...       NaT   \n19  ENH: background_gradient accepts a normalizati...  ...       NaT   \n20  ENH: add NDArrayBackedExtensionArray to public...  ...       NaT   \n21         ENH: Exp function for Series and DataFrame  ...       NaT   \n22  BUG: df.apply(...) method will sometimes retur...  ...       NaT   \n23                  TST/CLN: Tests parametrizations 3  ...       NaT   \n24  ENH: enable server side cursors when chunksize...  ...       NaT   \n25  BUG: Docs won't build (Unexpected warning in `...  ...       NaT   \n26             TYP: mostly DataFrame return overloads  ...       NaT   \n27                   TST/CLN: Test parametrizations 2  ...       NaT   \n28  #56696  Added Cheatsheet Section and cheatshee...  ...       NaT   \n29  TST: Ensure base ExtensionArray tests do not u...  ...       NaT   \n\n   author_association active_lock_reason  draft  \\\n0         CONTRIBUTOR                NaN    0.0   \n1                NONE                NaN    0.0   \n2                NONE                NaN    NaN   \n3         CONTRIBUTOR                NaN    0.0   \n4         CONTRIBUTOR                NaN    NaN   \n5         CONTRIBUTOR                NaN    0.0   \n6                NONE                NaN    0.0   \n7              MEMBER                NaN    0.0   \n8                NONE                NaN    NaN   \n9                NONE                NaN    NaN   \n10               NONE                NaN    NaN   \n11             MEMBER                NaN    NaN   \n12             MEMBER                NaN    NaN   \n13               NONE                NaN    NaN   \n14        CONTRIBUTOR                NaN    0.0   \n15        CONTRIBUTOR                NaN    1.0   \n16               NONE                NaN    NaN   \n17        CONTRIBUTOR                NaN    0.0   \n18             MEMBER                NaN    0.0   \n19               NONE                NaN    NaN   \n20               NONE                NaN    0.0   \n21               NONE                NaN    NaN   \n22               NONE                NaN    NaN   \n23             MEMBER                NaN    0.0   \n24               NONE                NaN    0.0   \n25        CONTRIBUTOR                NaN    NaN   \n26             MEMBER                NaN    0.0   \n27             MEMBER                NaN    0.0   \n28               NONE                NaN    0.0   \n29             MEMBER                NaN    NaN   \n\n                                         pull_request  \\\n0   {'url': 'https://api.github.com/repos/pandas-d...   \n1   {'url': 'https://api.github.com/repos/pandas-d...   \n2                                                 NaN   \n3   {'url': 'https://api.github.com/repos/pandas-d...   \n4                                                 NaN   \n5   {'url': 'https://api.github.com/repos/pandas-d...   \n6   {'url': 'https://api.github.com/repos/pandas-d...   \n7   {'url': 'https://api.github.com/repos/pandas-d...   \n8                                                 NaN   \n9                                                 NaN   \n10                                                NaN   \n11                                                NaN   \n12                                                NaN   \n13                                                NaN   \n14  {'url': 'https://api.github.com/repos/pandas-d...   \n15  {'url': 'https://api.github.com/repos/pandas-d...   \n16                                                NaN   \n17  {'url': 'https://api.github.com/repos/pandas-d...   \n18  {'url': 'https://api.github.com/repos/pandas-d...   \n19                                                NaN   \n20  {'url': 'https://api.github.com/repos/pandas-d...   \n21                                                NaN   \n22                                                NaN   \n23  {'url': 'https://api.github.com/repos/pandas-d...   \n24  {'url': 'https://api.github.com/repos/pandas-d...   \n25                                                NaN   \n26  {'url': 'https://api.github.com/repos/pandas-d...   \n27  {'url': 'https://api.github.com/repos/pandas-d...   \n28  {'url': 'https://api.github.com/repos/pandas-d...   \n29                                                NaN   \n\n                                                 body  \\\n0   Backport PR #56772: Support large strings in i...   \n1   - [ ] closes #56793\\r\\n- [ ] [Tests added and ...   \n2   ### Pandas version checks\\r\\n\\r\\n- [X] I have ...   \n3   - [x] closes #56791(Replace xxxx with the GitH...   \n4   ### Pandas version checks\\n\\n- [X] I have chec...   \n5   xref #52064\\r\\nadded to `to_offset` the missin...   \n6   - [ ] closes #56703\\r\\n- [x] [Tests added and ...   \n7                                                None   \n8   ### Pandas version checks\\n\\n- [X] I have chec...   \n9   ### Pandas version checks\\r\\n\\r\\n- [X] I have ...   \n10  ### Pandas version checks\\n\\n- [X] I have chec...   \n11  ### Pandas version checks\\n\\n- [X] I have chec...   \n12  Using the latest pandas:\\r\\n\\r\\n```\\r\\nIn [6]:...   \n13  ### Pandas version checks\\r\\n\\r\\n- [X] I have ...   \n14  - [x] closes #56592\\r\\n- [x] All [code checks ...   \n15  - [x] closes #56359\\r\\n- [ ] [Tests added and ...   \n16  ### Pandas version checks\\n\\n- [X] I have chec...   \n17  - [x] closes #56718 (Replace xxxx with the Git...   \n18  - [ ] closes #56267 (Replace xxxx with the Git...   \n19  ### Feature Type\\n\\n- [X] Adding new functiona...   \n20  - [ ] closes #xxxx (Replace xxxx with the GitH...   \n21  ### Feature Type\\r\\n\\r\\n- [X] Adding new funct...   \n22  ### Pandas version checks\\r\\n\\r\\n- [X] I have ...   \n23                                               None   \n24  Please look at the previous attempts in #40796...   \n25  ### Pandas version checks\\r\\n\\r\\n- [X] I have ...   \n26  - `DataFrame.any/bool` return `bool` when `axi...   \n27                                               None   \n28  - [x] closes #56696 (Replace xxxx with the Git...   \n29  geopandas currently needs to copy over some fi...   \n\n                                            reactions  \\\n0   {'url': 'https://api.github.com/repos/pandas-d...   \n1   {'url': 'https://api.github.com/repos/pandas-d...   \n2   {'url': 'https://api.github.com/repos/pandas-d...   \n3   {'url': 'https://api

In [35]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [37]:
import requests
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [39]:
data=requests.get(url)

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/pandas-dev/pandas/issues (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000002167FA72510>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [40]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [41]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [42]:
import pandas as pd

In [43]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [47]:
pd.DataFrame(dj)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,NaT,CONTRIBUTOR,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...

In [48]:
dj=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [49]:
dj

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,NaT,CONTRIBUTOR,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,NaT,CONTRIBUTOR,NaN,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,NaT,NONE,NaN,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...

In [50]:
import requests
ml="https://api.github.com/repos/pandas-dev/pandas/issues"

In [52]:
data= requests.get(ml)

In [53]:
data

In [54]:
data1= data.json()

In [55]:
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/56798',
  'id': 2072250111,
  'node_id': 'I_kwDOAA0YD857hAb_',
  'number': 56798,
  'title': 'BUG: "str.contains" match groups UserWarning discourages best practices & slows performance',
  'user': {'login': 'bionicles',
   'id': 24532336,
   'node_id': 'MDQ6VXNlcjI0NTMyMzM2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24532336?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bionicles',
   'html_url': 'https://github.com/bionicles',
   'followers_url': 'https://api.github.com/users/bionicles/followers',
   'following_url': 'https://api.github.com/users/bionicles/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bionicles/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bionicles/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bionicles/subscriptions',
   'organizations_url': 'https://api.github.com/users/bionicles/orgs',
   'repos_url': 'https://api.github.com/users/bionicles/repos',
   'events_url': 'https://api.github.com/users/bionicles/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bionicles/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-01-09T12:09:15Z',
  'updated_at': '2024-01-09T12:12:08Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\ntest_regex_groups_warning.py\r\n\r\nimport pandas as pd\r\n\r\n\r\nfruits = pd.Series(["apple", "banana", "apple and banana"])\r\n\r\n\r\ndef test_user_warning_in_series():\r\n    print("fruits:\\n", fruits)\r\n    print("UNNAMED REGEX")  # less accessible\r\n    nand_query = r"^(?!(?=.*apple)(?=.*banana)).*$"\r\n    print(f"\'{nand_query}\'")\r\n    filtered = fruits[fruits.str.contains(nand_query)]\r\n    print("filtered:\\n", filtered)\r\n    nand_condition = ~(\r\n        filtered.str.contains("head", case=False)\r\n        & filtered.str.contains("neck", case=False)\r\n    )\r\n    print("nand_condition:\\n", nand_condition)\r\n    if not nand_condition.all():\r\n        failures = filtered[~nand_condition]\r\n        print("failures:\\n", failures)\r\n    assert nand_condition.all()\r\n    assert 0\r\n\r\n\r\ndef test_user_warning_with_names():\r\n    print("fruits:\\n", fruits)\r\n    print("NAMED REGEX")  # more clear about what is matched and why:\r\n    named_nand_query = r"(?P<nand>^(?P<not_>(?!(?P<and_>(?=.*apple)(?=.*banana)))).*$)"\r\n    print(f"\'{named_nand_query}\'")\r\n    filtered_named = fruits[fruits.str.contains(named_nand_query)]\r\n    print("filtered_named:\\n", filtered_named)\r\n    named_nand_condition = ~(\r\n        filtered_named.str.contains("head", case=False)\r\n        & filtered_named.str.contains("neck", case=False)\r\n    )\r\n    print("named_nand_condition:\\n", named_nand_condition)\r\n    if not named_nand_condition.all():\r\n        named_failures = filtered_named[~named_nand_condition]\r\n        print("named_failures:\\n", named_failures)\r\n    assert named_nand_condition.all()\r\n    assert 0\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/80ddc993-141a-4866-8c1c-761a68706afa)\r\n\r\n@phofl wrote re: [PR 56763 to remove this warning](https://github.com/pandas-dev/pandas/pull/56763)\r\n\r\n> Please open issues to facilitate a discussion before you open a PR\r\n\r\nSorry, my bad, here is an issue to discuss the warning I proposed to remove.\r\n\r\nPRE-TL;DR: \r\n- Named groups aid regex understanding and maintenance\r\n- The warning logic also slows down pandas regex perf\r\n\r\nresult of running reproducible example:\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/6853f1ad-2218-40b7-bb19-16a87d046a2c)\r\n\r\nThis warning is annoying and serves to discourage use of named capturing groups (which are more maintainable) because users must either switch to extracting the groups (not always necessary) or replace their named groups with "(?:" (unnamed groups are harder to maintain because it\'s less clear what is their objective within a greater regex pattern).\r\n\r\nIf users need to specialize their regex patterns to each command, then they need to maintain multiple copies, some with unnamed groups, some without, just to silence some warning, also, if they remove the groups, then later on when they want to use them, they might have to figure out how to replace groups they removed just to silence a warning, and be frustrated.\r\n\r\nThe logical condition for the warning also compiles the pattern but then the compiled pattern is discarded, so this warning slows down every "contains" in pandas just to check if we should annoy people who probably know what they\'re doing.\r\n\r\nIf we remove this unnecessary warning, then we no longer discourage users who use named capturing groups, thus facilitating readability of the patterns, and portability to other contexts, such as debuggers or the "extract" method mentioned in the removed warning.\r\n\r\n**TL;DR: This warning doesn\'t need to exist, discourages best practices, and slows performance of every string contains query in pandas (a super "hot path!"), so I suggest we remove it.**\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/092ff20a-1175-4b07-8e23-8215eb25753d)\r\n\r\n[here is a permalink to the line of code to check for the warning condition](https://github.com/pandas-dev/pandas/blob/f0cdc7c2c60c91c35f08766be88791a59b24ee01/pandas/core/strings/accessor.py#L1323)\r\n```diff\r\n        dtype: bool\r\n        """\r\n-        if regex and re.compile(pat).groups: # compiled and discarded the pattern\r\n-            warnings.warn(\r\n-                "This pattern is interpreted as a regular expression, and has "\r\n-                "match groups. To actually get the groups, use str.extract.",\r\n-                UserWarning,\r\n-                stacklevel=find_stack_level(),\r\n-            )\r\n\r\n        result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n        return self._wrap_result(result, fill_value=na, returns_string=False)\r\n```\r\njust compile the pattern and use the compiled pattern:\r\n```diff\r\n        dtype: bool\r\n        """\r\n        result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n        return self._wrap_result(result, fill_value=na, returns_string=False)\r\n``\r\noptionally (may cause issues depending on _str_contains logic:\r\n```diff\r\n- result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n+ compiled_pattern = re.compile(pat, flags)\r\n+ result = self._data.array._str_contains(compiled_pattern, case, flags, na, regex)\r\n```\r\n\r\n### Expected Behavior\r\n\r\nno warning for containment queries using groups\r\n\r\n### Installed Versions\r\n\r\n<details>\r\n\r\n> python\r\nPython 3.10.9 (main, Mar  1 2023, 18:23:06) [GCC 11.2.0] on linux\r\nType "help", "copyright", "credits" or "license" for more information.\r\n>>> import pandas as pd\r\n>>> pd.show_versions()\r\n/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.\r\n  warnings.warn("Setuptools is replacing distutils.")\r\nTraceback (most recent call last):\r\n  File "<stdin>", line 1, in <module>\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py", line 141, in show_versions\r\n    deps = _get_dependency_info()\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py", line 98, in _get_dependency_info\r\n    mod = import_optional_dependency(modname, errors="ignore")\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/compat/_optional.py", line 132, in import_optional_dependency\r\n    module = importlib.import_module(name)\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/importlib/__init__.py", line 126, in import_module\r\n    return _bootstrap._gcd_import(name[level:], package, level)\r\n  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import\r\n  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load\r\n  File "<frozen importlib._bootstrap>", line 1006, in _find_and_load_unlocked\r\n  File "<frozen importlib._bootstrap>", line 688, in _load_unlocked\r\n  File "<frozen importlib._bootstrap_external>", line 883, in exec_module\r\n  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/__init__.py", line 42, in <module>\r\n    from numba.np.ufunc import (vectorize, guvectorize, threading_layer,\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/np/ufunc/__init__.py", line 3, in <module>\r\n    from numba.np.ufunc.decorators import Vectorize, GUVectorize, vectorize, guvectorize\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/np/ufunc/decorators.py", line 3, in <module>\r\n    from numba.np.ufunc import _internal\r\nSystemError: initialization of _internal failed without raising an exception\r\n\r\n</details>\r\n```\r\n> pip show pandas\r\nName: pandas\r\nVersion: 2.1.4\r\nSummary: Powerful data structures for data analysis, time series, and statistics\r\nHome-page: https://pandas.pydata.org\r\nAuthor:\r\nAuthor-email: The Pandas Development Team <pandas-dev@python.org>\r\nLicense: BSD 3-Clause License\r\n\r\n        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team\r\n        All rights reserved.\r\n\r\n        Copyright (c) 2011-2023, Open source contributors.\r\n\r\n        Redistribution and use in source and binary forms, with or without\r\n        modification, are permitted provided that the following conditions are met:\r\n\r\n        * Redistributions of source code must retain the above copyright notice, this\r\n          list of conditions and the following disclaimer.\r\n\r\n        * Redistributions in binary form must reproduce the above copyright notice,\r\n          this list of conditions and the following disclaimer in the documentation\r\n          and/or other materials provided with the distribution.\r\n\r\n        * Neither the name of the copyright holder nor the names of its\r\n          contributors may be used to endorse or promote products derived from\r\n          this software without specific prior written permission.\r\n\r\n        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"\r\n        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE\r\n        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE\r\n        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE\r\n        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL\r\n        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR\r\n        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER\r\n        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,\r\n        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE\r\n        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.\r\nLocation: /home/bion/miniconda3/envs/py310/lib/python3.10/site-packages\r\nRequires: numpy, python-dateutil, pytz, tzdata\r\n```',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/56797',
  'id': 2072179461,
  'node_id': 'I_kwDOAA0YD857gvMF',
  'number': 56797,
  'title': 'ENH: Accept pd.NA as a float',
  'user': {'login': 'mdruiter',
   'id': 1555705,
   'node_id': 'MDQ6VXNlcjE1NTU3MDU=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1555705?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mdruiter',
   'html_url': 'https://github.com/mdruiter',
   'followers_url': 'https://api.github.com/users/mdruiter/followers',
   'following_url': 'https://api.github.com/users/mdruiter/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mdruiter/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mdruiter/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mdruiter/subscriptions',
   'organizations_url': 'https://api.github.com/users/mdruiter/orgs',
   'repos_url': 'https://api.github.com/users/mdruiter/repos',
   'events_url': 'https://api.github.com/users/mdruiter/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mdruiter/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-01-09T11:25:19Z',
  'updated_at': '2024-01-09T11:34:03Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': "### Feature Type\n\n- [ ] Adding new functionality to pandas\n\n- [X] Changing existing functionality in pandas\n\n- [ ] Removing existing functionality in pandas\n\n\n### Problem Description\n\nIn `float[pyarrow]` data, missings values are `pd.NA`. I can easily convert these frames to floats:\r\n\r\n`pd.Series([pd.NA], dtype='float[pyarrow]').astype('float')`\r\n\r\n> 0   NaN\r\n> dtype: float64\r\n\r\nBut in the `pd.Series` constructor, I cannot use `pd.NA`s:\r\n\r\n`pd.Series([pd.NA], dtype='float')`\r\n\r\n> TypeError: float() argument must be a string or a real number, not 'NAType'\r\n\r\nIs this by design?\n\n### Feature Description\n\nIt would be so much more convenient if `pd.NA` would 'just' be recognized as a `np.nan` in float context...\n\n### Alternative Solutions\n\nUsing `.astype('float')` is a workaround but makes code less generic.\n\n### Additional Context\n\nI searched for issues like this or a design statement, but could not find anything about this specific thing, which surprised me as it feels like a common inconvenience.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56797/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56796',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56796/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56796/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56796/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/56796',
  'id': 2072113140,
  'node_id': 'I_kwDOAA0YD857ge_0',
  'number': 56796,
  'title': 'BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) will failed just and only when `int` in apply()',
  'user': {'login': 'spsspro',
   'id': 94439026,
   'node_id': 'U_kgDOBaEGcg',
   'avatar_url': 'https://avatars.githubusercontent.com/u/94439026?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/spsspro',
   'html_url': 'https://github.com/spsspro',
   'followers_url': 'https://api.github.com/users/spsspro/followers',
   'following_url': 'https://api.github.com/users/spsspro/following{/other_user}',
   'gists_url': 'https://api.github.com/users/spsspro/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/spsspro/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/spsspro/subscriptions',
   'organizations_url': 'https://api.github.com/users/spsspro/orgs',
   'repos_url': 'https://api.github.com/users/spsspro/repos',
   'events_url': 'https://api.github.com/users/spsspro/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/spsspro/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-01-09T10:46:33Z',
  'updated_at': '2024-01-09T10:50:41Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [56]:
len(data1)

30

In [58]:
data1[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/56798',
 'id': 2072250111,
 'node_id': 'I_kwDOAA0YD857hAb_',
 'number': 56798,
 'title': 'BUG: "str.contains" match groups UserWarning discourages best practices & slows performance',
 'user': {'login': 'bionicles',
  'id': 24532336,
  'node_id': 'MDQ6VXNlcjI0NTMyMzM2',
  'avatar_url': 'https://avatars.githubusercontent.com/u/24532336?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/bionicles',
  'html_url': 'https://github.com/bionicles',
  'followers_url': 'https://api.github.com/users/bionicles/followers',
  'following_url': 'https://api.github.com/users/bionicles/following{/other_user}',
  'gists_url': 'https://api.github.com/users/bionicles/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/bionicles/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/bionicles/subscriptions',
  'organizations_url': 'https://api.github.com/users/bionicles/orgs',
  'repos_url': 'https://api.github.com/users/bionicles/repos',
  'events_url': 'https://api.github.com/users/bionicles/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/bionicles/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 76811,
   'node_id': 'MDU6TGFiZWw3NjgxMQ==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
   'name': 'Bug',
   'color': 'e10c02',
   'default': False,
   'description': None},
  {'id': 1954720290,
   'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
   'name': 'Needs Triage',
   'color': '0052cc',
   'default': False,
   'description': 'Issue that has not been reviewed by a pandas team member'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 1,
 'created_at': '2024-01-09T12:09:15Z',
 'updated_at': '2024-01-09T12:12:08Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\ntest_regex_groups_warning.py\r\n\r\nimport pandas as pd\r\n\r\n\r\nfruits = pd.Series(["apple", "banana", "apple and banana"])\r\n\r\n\r\ndef test_user_warning_in_series():\r\n    print("fruits:\\n", fruits)\r\n    print("UNNAMED REGEX")  # less accessible\r\n    nand_query = r"^(?!(?=.*apple)(?=.*banana)).*$"\r\n    print(f"\'{nand_query}\'")\r\n    filtered = fruits[fruits.str.contains(nand_query)]\r\n    print("filtered:\\n", filtered)\r\n    nand_condition = ~(\r\n        filtered.str.contains("head", case=False)\r\n        & filtered.str.contains("neck", case=False)\r\n    )\r\n    print("nand_condition:\\n", nand_condition)\r\n    if not nand_condition.all():\r\n        failures = filtered[~nand_condition]\r\n        print("failures:\\n", failures)\r\n    assert nand_condition.all()\r\n    assert 0\r\n\r\n\r\ndef test_user_warning_with_names():\r\n    print("fruits:\\n", fruits)\r\n    print("NAMED REGEX")  # more clear about what is matched and why:\r\n    named_nand_query = r"(?P<nand>^(?P<not_>(?!(?P<and_>(?=.*apple)(?=.*banana)))).*$)"\r\n    print(f"\'{named_nand_query}\'")\r\n    filtered_named = fruits[fruits.str.contains(named_nand_query)]\r\n    print("filtered_named:\\n", filtered_named)\r\n    named_nand_condition = ~(\r\n        filtered_named.str.contains("head", case=False)\r\n        & filtered_named.str.contains("neck", case=False)\r\n    )\r\n    print("named_nand_condition:\\n", named_nand_condition)\r\n    if not named_nand_condition.all():\r\n        named_failures = filtered_named[~named_nand_condition]\r\n        print("named_failures:\\n", named_failures)\r\n    assert named_nand_condition.all()\r\n    assert 0\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/80ddc993-141a-4866-8c1c-761a68706afa)\r\n\r\n@phofl wrote re: [PR 56763 to remove this warning](https://github.com/pandas-dev/pandas/pull/56763)\r\n\r\n> Please open issues to facilitate a discussion before you open a PR\r\n\r\nSorry, my bad, here is an issue to discuss the warning I proposed to remove.\r\n\r\nPRE-TL;DR: \r\n- Named groups aid regex understanding and maintenance\r\n- The warning logic also slows down pandas regex perf\r\n\r\nresult of running reproducible example:\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/6853f1ad-2218-40b7-bb19-16a87d046a2c)\r\n\r\nThis warning is annoying and serves to discourage use of named capturing groups (which are more maintainable) because users must either switch to extracting the groups (not always necessary) or replace their named groups with "(?:" (unnamed groups are harder to maintain because it\'s less clear what is their objective within a greater regex pattern).\r\n\r\nIf users need to specialize their regex patterns to each command, then they need to maintain multiple copies, some with unnamed groups, some without, just to silence some warning, also, if they remove the groups, then later on when they want to use them, they might have to figure out how to replace groups they removed just to silence a warning, and be frustrated.\r\n\r\nThe logical condition for the warning also compiles the pattern but then the compiled pattern is discarded, so this warning slows down every "contains" in pandas just to check if we should annoy people who probably know what they\'re doing.\r\n\r\nIf we remove this unnecessary warning, then we no longer discourage users who use named capturing groups, thus facilitating readability of the patterns, and portability to other contexts, such as debuggers or the "extract" method mentioned in the removed warning.\r\n\r\n**TL;DR: This warning doesn\'t need to exist, discourages best practices, and slows performance of every string contains query in pandas (a super "hot path!"), so I suggest we remove it.**\r\n\r\n![image](https://github.com/pandas-dev/pandas/assets/24532336/092ff20a-1175-4b07-8e23-8215eb25753d)\r\n\r\n[here is a permalink to the line of code to check for the warning condition](https://github.com/pandas-dev/pandas/blob/f0cdc7c2c60c91c35f08766be88791a59b24ee01/pandas/core/strings/accessor.py#L1323)\r\n```diff\r\n        dtype: bool\r\n        """\r\n-        if regex and re.compile(pat).groups: # compiled and discarded the pattern\r\n-            warnings.warn(\r\n-                "This pattern is interpreted as a regular expression, and has "\r\n-                "match groups. To actually get the groups, use str.extract.",\r\n-                UserWarning,\r\n-                stacklevel=find_stack_level(),\r\n-            )\r\n\r\n        result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n        return self._wrap_result(result, fill_value=na, returns_string=False)\r\n```\r\njust compile the pattern and use the compiled pattern:\r\n```diff\r\n        dtype: bool\r\n        """\r\n        result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n        return self._wrap_result(result, fill_value=na, returns_string=False)\r\n``\r\noptionally (may cause issues depending on _str_contains logic:\r\n```diff\r\n- result = self._data.array._str_contains(pat, case, flags, na, regex)\r\n+ compiled_pattern = re.compile(pat, flags)\r\n+ result = self._data.array._str_contains(compiled_pattern, case, flags, na, regex)\r\n```\r\n\r\n### Expected Behavior\r\n\r\nno warning for containment queries using groups\r\n\r\n### Installed Versions\r\n\r\n<details>\r\n\r\n> python\r\nPython 3.10.9 (main, Mar  1 2023, 18:23:06) [GCC 11.2.0] on linux\r\nType "help", "copyright", "credits" or "license" for more information.\r\n>>> import pandas as pd\r\n>>> pd.show_versions()\r\n/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.\r\n  warnings.warn("Setuptools is replacing distutils.")\r\nTraceback (most recent call last):\r\n  File "<stdin>", line 1, in <module>\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py", line 141, in show_versions\r\n    deps = _get_dependency_info()\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py", line 98, in _get_dependency_info\r\n    mod = import_optional_dependency(modname, errors="ignore")\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/pandas/compat/_optional.py", line 132, in import_optional_dependency\r\n    module = importlib.import_module(name)\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/importlib/__init__.py", line 126, in import_module\r\n    return _bootstrap._gcd_import(name[level:], package, level)\r\n  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import\r\n  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load\r\n  File "<frozen importlib._bootstrap>", line 1006, in _find_and_load_unlocked\r\n  File "<frozen importlib._bootstrap>", line 688, in _load_unlocked\r\n  File "<frozen importlib._bootstrap_external>", line 883, in exec_module\r\n  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/__init__.py", line 42, in <module>\r\n    from numba.np.ufunc import (vectorize, guvectorize, threading_layer,\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/np/ufunc/__init__.py", line 3, in <module>\r\n    from numba.np.ufunc.decorators import Vectorize, GUVectorize, vectorize, guvectorize\r\n  File "/home/bion/miniconda3/envs/py310/lib/python3.10/site-packages/numba/np/ufunc/decorators.py", line 3, in <module>\r\n    from numba.np.ufunc import _internal\r\nSystemError: initialization of _internal failed without raising an exception\r\n\r\n</details>\r\n```\r\n> pip show pandas\r\nName: pandas\r\nVersion: 2.1.4\r\nSummary: Powerful data structures for data analysis, time series, and statistics\r\nHome-page: https://pandas.pydata.org\r\nAuthor:\r\nAuthor-email: The Pandas Development Team <pandas-dev@python.org>\r\nLicense: BSD 3-Clause License\r\n\r\n        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team\r\n        All rights reserved.\r\n\r\n        Copyright (c) 2011-2023, Open source contributors.\r\n\r\n        Redistribution and use in source and binary forms, with or without\r\n        modification, are permitted provided that the following conditions are met:\r\n\r\n        * Redistributions of source code must retain the above copyright notice, this\r\n          list of conditions and the following disclaimer.\r\n\r\n        * Redistributions in binary form must reproduce the above copyright notice,\r\n          this list of conditions and the following disclaimer in the documentation\r\n          and/or other materials provided with the distribution.\r\n\r\n        * Neither the name of the copyright holder nor the names of its\r\n          contributors may be used to endorse or promote products derived from\r\n          this software without specific prior written permission.\r\n\r\n        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"\r\n        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE\r\n        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE\r\n        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE\r\n        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL\r\n        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR\r\n        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER\r\n        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,\r\n        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE\r\n        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.\r\nLocation: /home/bion/miniconda3/envs/py310/lib/python3.10/site-packages\r\nRequires: numpy, python-dateutil, pytz, tzdata\r\n```',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [61]:
data1[0]["user"]["id"]

24532336

In [64]:
for i in range(len(data1)):
    print(data1[i]["user"]["id"])

24532336
1555705
94439026
60762400
60762400
38412262
38412262
91160475
74137864
10647082
45864430
45572664
1097057
609873
1020496
358225
112877841
30049606
76517593
97805700
61934744
32645001
13157776
4360170
10647082
18718008
83120995
6618166
10647082
89439095

In [65]:
pd.DataFrame(data1)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,None,CONTRIBUTOR,None,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,None,NONE,None,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,None,CONTRIBUTOR,None,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56789,2071344813,PR_kwDOAA0YD85jhhe5,56789,DOC: add to to_offset the missing parameter is...,...,None,CONTRIBUTOR,None,xref #52064\r\nadded to `to_offset` the missin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,None,NONE,None,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,None,MEMBER,None,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,None,MEMBER,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,None,MEMBER,None,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,None,CONTRIBUTOR,None,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,None,CONTRIBUTOR,None,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,None,CONTRIBUTOR,None,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,None,MEMBER,None,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,None,NONE,None,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,None,NONE,None,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,None,NONE,None,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,None,MEMBER,None,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,None,NONE,None,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,None,CONTRIBUTOR,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,None,MEMBER,None,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,None,MEMBER,None,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56736,2066278042,PR_kwDOAA0YD85jQae_,56736,#56696 Added Cheatsheet Section and cheatshee...,...,None,NONE,None,- [x] closes #56696 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...

In [71]:
pn1=pd.DataFrame(data1,columns=["id","url", "repository_url","labels_url","user"])

In [72]:
pn1

,id,url,repository_url,labels_url,user
0,2072250111,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'bionicles', 'id': 24532336, 'node_i..."
1,2072179461,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mdruiter', 'id': 1555705, 'node_id'..."
2,2072113140,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'spsspro', 'id': 94439026, 'node_id'..."
3,2071671081,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'dhodcz2', 'id': 60762400, 'node_id'..."
4,2071667672,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'dhodcz2', 'id': 60762400, 'node_id'..."
5,2071507175,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'rohanjain101', 'id': 38412262, 'nod..."
6,2071506172,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'rohanjain101', 'id': 38412262, 'nod..."
7,2071344813,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'natmokval', 'id': 91160475, 'node_i..."
8,2071305511,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'roadrollerdafjorst', 'id': 74137864..."
9,2071284645,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mroeschke', 'id': 10647082, 'node_i..."
10,2071251340,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'zdafoe', 'id': 45864430, 'node_id':..."
11,2070926198,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'ilyakochik', 'id': 45572664, 'node_..."
12,2070922238,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'manicko', 'id': 1097057, 'node_id':..."
13,2070808866,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'WillAyd', 'id': 609873, 'node_id': ..."
14,2070405996,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jorisvandenbossche', 'id': 1020496,..."
15,2069186961,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'bollard', 'id': 358225, 'node_id': ..."
16,2069150222,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'JackCollins91', 'id': 112877841, 'n..."
17,2068990003,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'paw-lu', 'id': 30049606, 'node_id':..."
18,2068960190,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Lonely-K', 'id': 76517593, 'node_id..."
19,2068937927,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'aram-cinnamon', 'id': 97805700, 'no..."
20,2068902159,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'phofl', 'id': 61934744, 'node_id': ..."
21,2068873475,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'rcyost', 'id': 32645001, 'node_id':..."
22,2068836605,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'andrewgsavage', 'id': 13157776, 'no..."
23,2068087305,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': '8one6', 'id': 4360170, 'node_id': '..."
24,2067833712,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mroeschke', 'id': 10647082, 'node_i..."
25,2067195828,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'skshetry', 'id': 18718008, 'node_id..."
26,2066826120,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Huanghz2001', 'id': 83120995, 'node..."
27,2066605326,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'twoertwein', 'id': 6618166, 'node_i..."
28,2066578091,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mroeschke', 'id': 10647082, 'node_i..."
29,2066278042,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'gyanavardhana', 'id': 89439095, 'no..."

In [73]:
pn1.to_csv("jason_res.csv")

In [1]:
import pandas as pd

In [ ]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [4]:
u1=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [5]:
u1

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56800,2072336666,PR_kwDOAA0YD85jk34Y,56800,Backport PR #56059 on branch 2.2.x (ENH: Add c...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,#56059,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56799,2072328644,PR_kwDOAA0YD85jk2Iq,56799,Backport PR #5644 on branch 2.2.x (BUG: merge ...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,#56442,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [6]:
import requests
j1 ="https://api.github.com/repos/pandas-dev/pandas/issues"

In [7]:
data= requests.get(j1)

In [8]:
data

In [13]:
pd.DataFrame(data,columns=["id","url", "repository_url","labels_url","user"])

ValueError: Shape of passed values is (1221, 1), indices imply (1221, 5)

In [10]:
data1

                                                      0
0     b'[{"url":"https://api.github.com/repos/pandas...
1     b'pandas","labels_url":"https://api.github.com...
2     b'hub.com/repos/pandas-dev/pandas/issues/56800...
3     b'/events","html_url":"https://github.com/pand...
4     b'6800,"title":"Backport PR #56059 on branch 2...
...                                                 ...
1216  b'l":"https://github.com/pandas-dev/pandas/pul...
1217  b'l":"https://github.com/pandas-dev/pandas/pul...
1218  b'com/repos/pandas-dev/pandas/issues/56738/rea...
1219  b'ocket":0,"eyes":0},"timeline_url":"https://a...
1220                  b'pp":null,"state_reason":null}]'

[1221 rows x 1 columns]

In [14]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56800,2072336666,PR_kwDOAA0YD85jk34Y,56800,Backport PR #56059 on branch 2.2.x (ENH: Add c...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,#56059,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56799,2072328644,PR_kwDOAA0YD85jk2Iq,56799,Backport PR #5644 on branch 2.2.x (BUG: merge ...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,#56442,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56798,2072250111,I_kwDOAA0YD857hAb_,56798,"BUG: ""str.contains"" match groups UserWarning d...",...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56797,2072179461,I_kwDOAA0YD857gvMF,56797,ENH: Accept pd.NA as a float,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56796,2072113140,I_kwDOAA0YD857ge_0,56796,"BUG: df.iloc[:, x] = df.iloc[:, x].apply(int) ...",...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56794,2071671081,PR_kwDOAA0YD85jinG6,56794,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56793\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56793,2071667672,I_kwDOAA0YD857eyPY,56793,BUG: NDFrame.__setattr__ calls NDFrame.__getat...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56792,2071507175,PR_kwDOAA0YD85jiEkp,56792,Series.str.find fix for pd.ArrowDtype(pa.strin...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56791(Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56791,2071506172,I_kwDOAA0YD857eKz8,56791,BUG: Series.str.find with pd.ArrowDtype(pa.str...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56788,2071305511,PR_kwDOAA0YD85jhYww,56788,Bug: Interchange protocol implementation does ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56703\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56787,2071284645,PR_kwDOAA0YD85jhUJ6,56787,TST/CLN: Test parametrizations 4,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56784,2071251340,I_kwDOAA0YD857dMmM,56784,BUG: DataFrame.drop_duplicates method fails wh...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56779,2070926198,I_kwDOAA0YD857b9N2,56779,BUG: Concat for two dataframes row-wise fails ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56778,2070922238,I_kwDOAA0YD857b8P-,56778,BUG: to_csv with mode 'a' and zip compression ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56777,2070808866,I_kwDOAA0YD857bgki,56777,BUG: Pandas extension Int dtypes break datafra...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56775,2070405996,I_kwDOAA0YD857Z-Ns,56775,REGR: DatetimeTZDtype.__from_arrow__ interpret...,...,NaT,MEMBER,NaN,NaN,NaN,Using the latest pandas:\r\n\r\n```\r\nIn [6]:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56764,2069186961,I_kwDOAA0YD857VUmR,56764,BUG: `pd.cut` with `IntervalIndex` produces un...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56762,2069150222,PR_kwDOAA0YD85jaAtG,56762,BUG DOC: Bug docs won't build (s3 bucket does ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56592\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56760,2068990003,PR_kwDOAA0YD85jZhRZ,56760,TYP: Persist typing information for pipe args ...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56359\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56759,2068960190,I_kwDOAA0YD857UdO-,56759,PERF: Potential room for optimizaing the perfo...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56758,2068937927,PR_kwDOAA0YD85jZWGA,56758,raise TypeError if an offset not supported as ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56718 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56757,2068902159,PR_kwDOAA0YD85jZO9z,56757,ENH: Implement interpolation for arrow and mas...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #56267 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56756,2068873475,I_kwDOAA0YD857UIED,56756,ENH: background_gradient accepts a normalizati...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56755,2068836605,PR_kwDOAA0YD85jZCBi,56755,ENH: add NDArrayBackedExtensionArray to public...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56748,2068087305,I_kwDOAA0YD857RIIJ,56748,ENH: Exp function for Series and DataFrame,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56745,2067833712,PR_kwDOAA0YD85jVqrc,56745,TST/CLN: Tests parametrizations 3,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56742,2067195828,PR_kwDOAA0YD85jTdcO,56742,ENH: enable server side cursors when chunksize...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Please look at the previous attempts in #40796...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/56740,2066826120,I_kwDOAA0YD857MUOI,56740,BUG: Docs won't build (Unexpected warning in `...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56739,2066605326,PR_kwDOAA0YD85jRhDF,56739,TYP: mostly DataFrame return overloads,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- `DataFrame.any/bool` return `bool` when `axi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/56738,2066578091,PR_kwDOAA0YD85jRbra,56738,TST/CLN: Test parametrizations 2,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [15]:
import requests
ml="https://api.github.com/repos/pandas-dev/pandas/issues"

In [16]:
js=requests.get(ml)

In [17]:
js

In [19]:
js1=js.json()

In [20]:
js1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/56800',
  'id': 2072336666,
  'node_id': 'PR_kwDOAA0YD85jk34Y',
  'number': 56800,
  'title': 'Backport PR #56059 on branch 2.2.x (ENH: Add case_when method)',
  'user': {'login': 'phofl',
   'id': 61934744,
   'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/phofl',
   'html_url': 'https://github.com/phofl',
   'followers_url': 'https://api.github.com/users/phofl/followers',
   'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
   'organizations_url': 'https://api.github.com/users/phofl/orgs',
   'repos_url': 'https://api.github.com/users/phofl/repos',
   'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/phofl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/109',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109/labels',
   'id': 9785210,
   'node_id': 'MI_kwDOAA0YD84AlU96',
   'number': 109,
   'title': '2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 31,
   'closed_issues': 845,
   'state': 'open',
   'created_at': '2023-08-13T07:21:54Z',
   'updated_at': '2024-01-09T13:37:12Z',
   'due_on': '2024-01-10T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-01-09T13:03:53Z',
  'updated_at': '2024-01-09T13:03:59Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/56800',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/56800',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/56800.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/56800.patch',
   'merged_at': None},
  'body': '#56059',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/56799',
  'id': 2072328644,
  'node_id': 'PR_kwDOAA0YD85jk2Iq',
  'number': 56799,
  'title': 'Backport PR #5644 on branch 2.2.x (BUG: merge not sorting for new string dtype)',
  'user': {'login': 'phofl',
   'id': 61934744,
   'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/phofl',
   'html_url': 'https://github.com/phofl',
   'followers_url': 'https://api.github.com/users/phofl/followers',
   'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
   'organizations_url': 'https://api.github.com/users/phofl/orgs',
   'repos_url': 'https://api.github.com/users/phofl/repos',
   'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/phofl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/109',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109/labels',
   'id': 9785210,
   'node_id': 'MI_kwDOAA0YD84AlU96',
   'number': 109,
   'title': '2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 31,
   'closed_issues': 845,
   'state': 'open',
   'created_at': '2023-08-13T07:21:54Z',
   'updated_at': '2024-01-09T13:37:12Z',
   'due_on': '2024-01-10T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-01-09T12:58:32Z',
  'updated_at': '2024-01-09T12:58:32Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/56799',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/56799',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/56799.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/56799.patch',
   'merged_at': None},
  'body': '#56442',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/56798',
  'id': 2072250111,
  'node_id': 'I_kwDOAA0YD857hAb_',
  'number': 56798,
  'title': 'BUG: "str.contains" match groups UserWarning discourages best practices & slows performance',
  'user': {'login': 'bionicles',
   'id': 24532336,
   'node_id': 'MDQ6VXNlcjI0NTMyMzM2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24532336?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bionicles',
   'html_url': 'https://github.com/bionicles',
   'followers_url': 'https://api.github.com/users/bionicles/followers',
   'following_url': 'https://api.github.com/users/bionicles/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bionicles/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bionicles/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bionicles/subscriptions',
   'organizations_url': 'https://api.github.com/users/bionicles/orgs',
   'repos_url': 'https://api.github.com/users/bionicles/repos',
   'events_url': 'https://api.github.com/users/bionicles/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bionicles/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-01-09T12:09:15Z',
  'updated_at': '2024-01-09T12:28:58Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [23]:
pd1=pd.DataFrame(js1,columns=["url","repository_url","labels_url", "user"])

In [24]:
pd1.to_csv("json1.csv")

In [25]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7408-FD97

 Directory of C:\Users\INTEGRAL COMPUTER\Documents

09-01-2024  07:29 PM    <DIR>          .
09-01-2024  07:29 PM    <DIR>          ..
07-01-2024  09:13 PM    <DIR>          .ipynb_checkpoints
03-01-2024  09:57 AM    <DIR>          __pycache__
07-01-2024  06:57 PM               774 abstraction.ipynb
08-01-2024  10:54 PM             5,184 cri_avg.csv
21-09-2023  08:03 AM    <DIR>          Custom Office Templates
17-12-2023  01:29 PM            31,315 functions.ipynb
08-01-2024  01:01 PM               783 industry.csv
12-01-2023  11:30 PM    <DIR>          Inventor Server for AutoCAD
09-01-2024  07:13 PM            34,724 jason_res.csv
09-01-2024  07:29 PM            34,247 json1.csv
09-01-2024  10:37 AM               950 laliga.csv
08-12-2023  10:12 PM             5,940 list'.ipynb
19-12-2023  08:16 PM            17,320 logging.ipynb
08-01-2024  02:35 PM           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily (2).xlsx
08-01-2024  02:39 PM            84,319 LUSID Excel - Manage Orders.xlsx
20-12-2023  12:08 PM            15,494 module.ipynb
20-12-2023  11:50 AM                 0 my_module
20-12-2023  12:01 PM               213 my_module.py
03-01-2024  09:37 AM                 0 mydict
03-01-2024  09:43 AM                 0 mydict.py
03-01-2024  09:45 AM               387 mydict1.py
08-01-2024  10:25 PM            81,553 nba.csv
06-09-2023  08:14 PM    <DIR>          NFS Most Wanted
04-01-2024  10:29 PM            40,273 opps_concept.ipynb
09-01-2024  07:28 PM         2,561,408 pandas.ipynb
08-01-2024  09:47 AM        58,238,362 people.csv
08-01-2024  09:44 AM        58,441,684 people-500000.csv
09-01-2024  10:39 AM             1,010 pl.csv
09-01-2024  10:41 AM             3,160 plfull.csv
07-01-2024  04:04 PM             8,065 polymorphanism.ipynb
10-12-2023  05:51 PM               589 programing.ipynb
09-12-2023  09:23 PM         8,560,638 python basic.ipynb
29-04-2023  11:24 AM    <DIR>          Python Scripts
20-12-2023  12:43 AM                29 python_file.py
08-01-2024  11:21 AM               620 sample_text.csv
08-01-2024  01:54 PM            19,104 services.csv
03-01-2024  09:31 PM                 0 shubh.txt
20-12-2023  10:07 AM               163 shuvai.py
20-12-2023  12:45 AM                31 test1.py
08-01-2024  02:58 PM            60,302 titanic.csv
02-12-2023  01:15 PM    <DIR>          Untitled Folder
03-12-2023  11:21 PM             1,688 Untitled.ipynb
11-12-2023  10:56 PM         8,585,006 Untitled1.ipynb
14-12-2023  09:21 PM            12,492 Untitled2.ipynb
15-12-2023  01:33 PM            14,301 Untitled3.ipynb
15-12-2023  11:32 AM             4,128 Untitled4.ipynb
19-12-2023  12:34 AM            21,497 Untitled5.ipynb
21-12-2023  08:26 PM             3,467 Untitled6.ipynb
24-12-2023  09:16 PM             1,956 Untitled7.ipynb
              42 File(s)    137,054,827 bytes
               9 Dir(s)  67,276,648,448 bytes free

In [30]:
pd1[["user"]]

                                                 user
0   {'login': 'phofl', 'id': 61934744, 'node_id': ...
1   {'login': 'phofl', 'id': 61934744, 'node_id': ...
2   {'login': 'bionicles', 'id': 24532336, 'node_i...
3   {'login': 'mdruiter', 'id': 1555705, 'node_id'...
4   {'login': 'spsspro', 'id': 94439026, 'node_id'...
5   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
6   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
7   {'login': 'rohanjain101', 'id': 38412262, 'nod...
8   {'login': 'rohanjain101', 'id': 38412262, 'nod...
9   {'login': 'roadrollerdafjorst', 'id': 74137864...
10  {'login': 'mroeschke', 'id': 10647082, 'node_i...
11  {'login': 'zdafoe', 'id': 45864430, 'node_id':...
12  {'login': 'ilyakochik', 'id': 45572664, 'node_...
13  {'login': 'manicko', 'id': 1097057, 'node_id':...
14  {'login': 'WillAyd', 'id': 609873, 'node_id': ...
15  {'login': 'jorisvandenbossche', 'id': 1020496,...
16  {'login': 'bollard', 'id': 358225, 'node_id': ...
17  {'login': 'JackCollins91', 'id': 112877841, 'n...
18  {'login': 'paw-lu', 'id': 30049606, 'node_id':...
19  {'login': 'Lonely-K', 'id': 76517593, 'node_id...
20  {'login': 'aram-cinnamon', 'id': 97805700, 'no...
21  {'login': 'phofl', 'id': 61934744, 'node_id': ...
22  {'login': 'rcyost', 'id': 32645001, 'node_id':...
23  {'login': 'andrewgsavage', 'id': 13157776, 'no...
24  {'login': '8one6', 'id': 4360170, 'node_id': '...
25  {'login': 'mroeschke', 'id': 10647082, 'node_i...
26  {'login': 'skshetry', 'id': 18718008, 'node_id...
27  {'login': 'Huanghz2001', 'id': 83120995, 'node...
28  {'login': 'twoertwein', 'id': 6618166, 'node_i...
29  {'login': 'mroeschke', 'id': 10647082, 'node_i...

In [ ]:
"https://api.github.com/repos/pandas-dev/pandas/issues"

In [31]:
import requests 
d = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [32]:
data = requests.get(d)

In [33]:
data

In [34]:
data1= data.json()

In [35]:
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/56800',
  'id': 2072336666,
  'node_id': 'PR_kwDOAA0YD85jk34Y',
  'number': 56800,
  'title': 'Backport PR #56059 on branch 2.2.x (ENH: Add case_when method)',
  'user': {'login': 'phofl',
   'id': 61934744,
   'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/phofl',
   'html_url': 'https://github.com/phofl',
   'followers_url': 'https://api.github.com/users/phofl/followers',
   'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
   'organizations_url': 'https://api.github.com/users/phofl/orgs',
   'repos_url': 'https://api.github.com/users/phofl/repos',
   'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/phofl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/109',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109/labels',
   'id': 9785210,
   'node_id': 'MI_kwDOAA0YD84AlU96',
   'number': 109,
   'title': '2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 31,
   'closed_issues': 845,
   'state': 'open',
   'created_at': '2023-08-13T07:21:54Z',
   'updated_at': '2024-01-09T13:37:12Z',
   'due_on': '2024-01-10T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-01-09T13:03:53Z',
  'updated_at': '2024-01-09T13:03:59Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/56800',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/56800',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/56800.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/56800.patch',
   'merged_at': None},
  'body': '#56059',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56800/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/56799',
  'id': 2072328644,
  'node_id': 'PR_kwDOAA0YD85jk2Iq',
  'number': 56799,
  'title': 'Backport PR #5644 on branch 2.2.x (BUG: merge not sorting for new string dtype)',
  'user': {'login': 'phofl',
   'id': 61934744,
   'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/phofl',
   'html_url': 'https://github.com/phofl',
   'followers_url': 'https://api.github.com/users/phofl/followers',
   'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
   'organizations_url': 'https://api.github.com/users/phofl/orgs',
   'repos_url': 'https://api.github.com/users/phofl/repos',
   'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/phofl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/109',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/109/labels',
   'id': 9785210,
   'node_id': 'MI_kwDOAA0YD84AlU96',
   'number': 109,
   'title': '2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 31,
   'closed_issues': 845,
   'state': 'open',
   'created_at': '2023-08-13T07:21:54Z',
   'updated_at': '2024-01-09T13:37:12Z',
   'due_on': '2024-01-10T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-01-09T12:58:32Z',
  'updated_at': '2024-01-09T12:58:32Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/56799',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/56799',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/56799.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/56799.patch',
   'merged_at': None},
  'body': '#56442',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56799/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/56798/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/56798',
  'id': 2072250111,
  'node_id': 'I_kwDOAA0YD857hAb_',
  'number': 56798,
  'title': 'BUG: "str.contains" match groups UserWarning discourages best practices & slows performance',
  'user': {'login': 'bionicles',
   'id': 24532336,
   'node_id': 'MDQ6VXNlcjI0NTMyMzM2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24532336?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bionicles',
   'html_url': 'https://github.com/bionicles',
   'followers_url': 'https://api.github.com/users/bionicles/followers',
   'following_url': 'https://api.github.com/users/bionicles/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bionicles/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bionicles/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bionicles/subscriptions',
   'organizations_url': 'https://api.github.com/users/bionicles/orgs',
   'repos_url': 'https://api.github.com/users/bionicles/repos',
   'events_url': 'https://api.github.com/users/bionicles/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bionicles/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-01-09T12:09:15Z',
  'updated_at': '2024-01-09T12:28:58Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [39]:
test

                                                 user
0   {'login': 'phofl', 'id': 61934744, 'node_id': ...
1   {'login': 'phofl', 'id': 61934744, 'node_id': ...
2   {'login': 'bionicles', 'id': 24532336, 'node_i...
3   {'login': 'mdruiter', 'id': 1555705, 'node_id'...
4   {'login': 'spsspro', 'id': 94439026, 'node_id'...
5   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
6   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
7   {'login': 'rohanjain101', 'id': 38412262, 'nod...
8   {'login': 'rohanjain101', 'id': 38412262, 'nod...
9   {'login': 'roadrollerdafjorst', 'id': 74137864...
10  {'login': 'mroeschke', 'id': 10647082, 'node_i...
11  {'login': 'zdafoe', 'id': 45864430, 'node_id':...
12  {'login': 'ilyakochik', 'id': 45572664, 'node_...
13  {'login': 'manicko', 'id': 1097057, 'node_id':...
14  {'login': 'WillAyd', 'id': 609873, 'node_id': ...
15  {'login': 'jorisvandenbossche', 'id': 1020496,...
16  {'login': 'bollard', 'id': 358225, 'node_id': ...
17  {'login': 'JackCollins91', 'id': 112877841, 'n...
18  {'login': 'paw-lu', 'id': 30049606, 'node_id':...
19  {'login': 'Lonely-K', 'id': 76517593, 'node_id...
20  {'login': 'aram-cinnamon', 'id': 97805700, 'no...
21  {'login': 'phofl', 'id': 61934744, 'node_id': ...
22  {'login': 'rcyost', 'id': 32645001, 'node_id':...
23  {'login': 'andrewgsavage', 'id': 13157776, 'no...
24  {'login': '8one6', 'id': 4360170, 'node_id': '...
25  {'login': 'mroeschke', 'id': 10647082, 'node_i...
26  {'login': 'skshetry', 'id': 18718008, 'node_id...
27  {'login': 'Huanghz2001', 'id': 83120995, 'node...
28  {'login': 'twoertwein', 'id': 6618166, 'node_i...
29  {'login': 'mroeschke', 'id': 10647082, 'node_i...

In [41]:
test

                                                 user
0   {'login': 'phofl', 'id': 61934744, 'node_id': ...
1   {'login': 'phofl', 'id': 61934744, 'node_id': ...
2   {'login': 'bionicles', 'id': 24532336, 'node_i...
3   {'login': 'mdruiter', 'id': 1555705, 'node_id'...
4   {'login': 'spsspro', 'id': 94439026, 'node_id'...
5   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
6   {'login': 'dhodcz2', 'id': 60762400, 'node_id'...
7   {'login': 'rohanjain101', 'id': 38412262, 'nod...
8   {'login': 'rohanjain101', 'id': 38412262, 'nod...
9   {'login': 'roadrollerdafjorst', 'id': 74137864...
10  {'login': 'mroeschke', 'id': 10647082, 'node_i...
11  {'login': 'zdafoe', 'id': 45864430, 'node_id':...
12  {'login': 'ilyakochik', 'id': 45572664, 'node_...
13  {'login': 'manicko', 'id': 1097057, 'node_id':...
14  {'login': 'WillAyd', 'id': 609873, 'node_id': ...
15  {'login': 'jorisvandenbossche', 'id': 1020496,...
16  {'login': 'bollard', 'id': 358225, 'node_id': ...
17  {'login': 'JackCollins91', 'id': 112877841, 'n...
18  {'login': 'paw-lu', 'id': 30049606, 'node_id':...
19  {'login': 'Lonely-K', 'id': 76517593, 'node_id...
20  {'login': 'aram-cinnamon', 'id': 97805700, 'no...
21  {'login': 'phofl', 'id': 61934744, 'node_id': ...
22  {'login': 'rcyost', 'id': 32645001, 'node_id':...
23  {'login': 'andrewgsavage', 'id': 13157776, 'no...
24  {'login': '8one6', 'id': 4360170, 'node_id': '...
25  {'login': 'mroeschke', 'id': 10647082, 'node_i...
26  {'login': 'skshetry', 'id': 18718008, 'node_id...
27  {'login': 'Huanghz2001', 'id': 83120995, 'node...
28  {'login': 'twoertwein', 'id': 6618166, 'node_i...
29  {'login': 'mroeschke', 'id': 10647082, 'node_i...

In [49]:
len(test)

30

In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
len(data)

891

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
data.dtypes["object"]

KeyError: 'object'

In [16]:
data.dtypes== "object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [17]:
type(data.dtypes)

pandas.core.series.Series

In [18]:
data.dtypes(data.dtypes== "object")

TypeError: 'Series' object is not callable

In [19]:
data.dtypes[data.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [20]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [25]:
d=data.dtypes[data.dtypes == "object"].index

In [24]:
data.dtypes[data.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [26]:
data[d]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [27]:
data[d].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [33]:
data["Name"][0:15:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
12                       Saundercock, Mr. William Henry
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [29]:
d["Name"]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [35]:
data["Name"][::-1]

890                                  Dooley, Mr. Patrick
889                                Behr, Mr. Karl Howell
888             Johnston, Miss. Catherine Helen "Carrie"
887                         Graham, Miss. Margaret Edith
886                                Montvila, Rev. Juozas
                             ...
4                               Allen, Mr. William Henry
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                 Heikkinen, Miss. Laina
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
0                                Braund, Mr. Owen Harris
Name: Name, Length: 891, dtype: object

data

In [36]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
df.describe

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [9]:
df.dtypes== "object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [13]:
df1=df.dtypes[df.dtypes== "object"].index

In [14]:
df1

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [15]:
pd.DataFrame(df1)

          0
0      Name
1       Sex
2    Ticket
3     Cabin
4  Embarked

In [17]:
df1.describe()

AttributeError: 'Index' object has no attribute 'describe'

In [18]:
df[df1].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [20]:
df["Name"][0:15]

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [26]:
df[df["Age"].isnull()== True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [29]:
len(df[df["Age"].isnull()==True].index)

177

In [30]:
d=df[df["Age"].isnull()==True].index

In [31]:
pd.DataFrame(d)

       0
0      5
1     17
2     19
3     26
4     28
..   ...
172  859
173  863
174  868
175  878
176  888

[177 rows x 1 columns]

In [33]:
ind=df[df["Age"].isnull()==True].index

In [35]:
df.loc[ind]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [36]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [39]:
df["Cabin"].isnull()== True

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [41]:
ind2=df[df["Cabin"].isnull()== True].index

In [42]:
df.loc[ind2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [43]:
df["Fare"]

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [44]:
max(df["Fare"])

512.3292

In [47]:
df["Fare"]== max(df["Fare"])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [48]:
df[df["Fare"]== max(df["Fare"])]["Name"]

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [49]:
df[df["Fare"]== max(df["Fare"])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [82]:
df["Sex"] == "male"

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Sex, Length: 891, dtype: bool

In [59]:
len(df["Sex"])=="female"

False

In [63]:
pd.read_csv("bank.csv", )

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [66]:
bk=pd.read_csv("bank.csv",sep=";")

In [67]:
bk.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [68]:
bk

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [69]:
bk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [71]:
bk.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [75]:
bk1=bk["campaign"]

In [73]:
len(bk["campaign"])

4521

In [74]:
bk

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [76]:
bk1

0        1
1        1
2        1
3        4
4        1
        ..
4516     5
4517     1
4518    11
4519     4
4520     2
Name: campaign, Length: 4521, dtype: int64

In [77]:
bk1.count()

4521

In [78]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [79]:
bk

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [80]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [81]:
df["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [84]:
len(df[df["Sex"] == "male"].index)

577

In [85]:
df["Sex"] == "female"

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [87]:
len(df[df["Sex"] == "female"].index)

314

In [88]:
df[df["Sex"] == "female"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [91]:
df.groupby("Sex")["Sex"].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

In [92]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [94]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [97]:
df[df["Survived"]== 0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [101]:
df[df["Age"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

In [105]:
df[df["Age"] == df["Age"].max()]["Name"]

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [108]:
df["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [117]:
df.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [124]:
len(df[df["Name"].str.startswith("S")]["Name"])

86

In [125]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [127]:
df["New"] = df["SibSp"]+ df["Parch"]

In [128]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [132]:
len(df[df["Age"]< 25]["Age"])

278

In [133]:
df["Age"]< 40

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool

In [134]:
len(df[df["Age"]< 40])

551

In [146]:
len(df[(df["Survived"]==0) & (df["Age"]<40)])

322

In [147]:
df["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [148]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [149]:
bk

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [153]:
len(bk["campaign"].unique())

32

In [155]:
len(bk[(bk["housing"] == "yes") & (bk["loan"] =="yes")])

406

In [156]:
len(bk["age"] > 60)

4521

In [158]:
len(bk[bk["age"] > 60 ])

127

In [159]:
bk.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [162]:
bk["month"].value_counts().index[0]

'may'

In [166]:
bk1=bk.groupby(["contact", "y"]).count()

In [170]:
bk1.groupby.loc["cellular","y"][0]

AttributeError: 'function' object has no attribute 'loc'

In [171]:
bk1

                age   job  marital  education  default  balance  housing  \
contact   y
cellular  no   2480  2480     2480       2480     2480     2480     2480
          yes   416   416      416        416      416      416      416
telephone no    257   257      257        257      257      257      257
          yes    44    44       44         44       44       44       44
unknown   no   1263  1263     1263       1263     1263     1263     1263
          yes    61    61       61         61       61       61       61

               loan   day  month  duration  campaign  pdays  previous  \
contact   y
cellular  no   2480  2480   2480      2480      2480   2480      2480
          yes   416   416    416       416       416    416       416
telephone no    257   257    257       257       257    257       257
          yes    44    44     44        44        44     44        44
unknown   no   1263  1263   1263      1263      1263   1263      1263
          yes    61    61     61        61        61     61        61

               poutcome
contact   y
cellular  no       2480
          yes       416
telephone no        257
          yes        44
unknown   no       1263
          yes        61

In [178]:
bk1.loc["cellular", "yes"][0]

416

In [180]:
bk1.loc["telephone", "yes"][0]

44

In [183]:
bk1.loc["unknown","yes"][0]

61

In [186]:
max(bk1.loc["cellular", "yes"][0],bk1.loc["telephone", "yes"][0],bk1.loc["unknown","yes"][0])

416

In [188]:
bk.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [197]:
bk2=len(bk["job"].unique())

In [198]:
bk2

12

In [210]:
len(bk[bk["job"]== "entrepreneur"])

168

In [211]:
bk.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [214]:
len(bk[bk["balance"]< 0])

366

In [220]:
bk["education"].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [222]:
l= []
for i in bk["education"].unique():
    l.append(bk[bk["education"]==i])

In [223]:
l

[      age            job   marital education default  balance housing loan  \
 0      30     unemployed   married   primary      no     1787      no   no
 9      43       services   married   primary      no      -88     yes  yes
 18     25    blue-collar    single   primary      no     -221     yes   no
 26     55    blue-collar   married   primary      no      627     yes   no
 36     78        retired  divorced   primary      no      229      no   no
 ...   ...            ...       ...       ...     ...      ...     ...  ...
 4480   23    blue-collar   married   primary      no     1158     yes   no
 4485   53    blue-collar   married   primary      no      238     yes   no
 4486   37    blue-collar   married   primary      no      378     yes   no
 4499   45    blue-collar  divorced   primary      no      942      no   no
 4503   60  self-employed   married   primary      no      362      no  yes

         contact  day month  duration  campaign  pdays  previous poutcome    y
 0      cellular   19   oct        79         1     -1         0  unknown   no
 9      cellular   17   apr       313         1    147         2  failure   no
 18      unknown   23   may       250         1     -1         0  unknown   no
 26      unknown    5   may       247         1     -1         0  unknown   no
 36    telephone   22   oct        97         1     -1         0  unknown  yes
 ...         ...  ...   ...       ...       ...    ...       ...      ...  ...
 4480   cellular   16   apr       743         1     -1         0  unknown   no
 4485   cellular   11   may       238         2    361         5  failure   no
 4486    unknown    9   may       514         1     -1         0  unknown   no
 4499   cellular   21   nov       362         1     -1         0  unknown   no
 4503   cellular   29   jul       816         6     -1         0  unknown  yes

 [678 rows x 17 columns],
       age          job  marital  education default  balance housing loan  \
 1      33     services  married  secondary      no     4789     yes  yes
 4      59  blue-collar  married  secondary      no        0     yes   no
 7      39   technician  married  secondary      no      147     yes   no
 10     39     services  married  secondary      no     9374     yes   no
 11     43       admin.  married  secondary      no      264     yes   no
 ...   ...          ...      ...        ...     ...      ...     ...  ...
 4514   38  blue-collar  married  secondary      no     1205     yes   no
 4515   32     services   single  secondary      no      473     yes   no
 4516   33     services  married  secondary      no     -333     yes   no
 4518   57   technician  married  secondary      no      295      no   no
 4519   28  blue-collar  married  secondary      no     1137      no   no

        contact  day month  duration  campaign  pdays  previous poutcome   y
 1     cellular   11   may       220         1    339         4  failure  no
 4      unknown    5   may       226         1     -1         0  unknown  no
 7     cellular    6   may       151         2     -1         0  unknown  no
 10     unknown   20   may       273         1     -1         0  unknown  no
 11    cellular   17   apr       113         2     -1         0  unknown  no
 ...        ...  ...   ...       ...       ...    ...       ...      ...  ..
 4514  cellular   20   apr        45         4    153         1  failure  no
 4515  cellular    7   jul       624         5     -1         0  unknown  no
 4516  cellular   30   jul       329         5     -1         0  unknown  no
 4518  cellular   19   aug       151        11     -1         0  unknown  no
 4519  cellular    6   feb       129         4    211         3    other  no

 [2306 rows x 17 columns],
       age            job   marital education default  balance housing loan  \
 2      35     management    single  tertiary      no     1350     yes   no
 3      30     management   married  tertiary      no     1476     yes  yes
 5      35     management    single  tertiary      no      747      no   no
 6      36  self-employed   married  tertiary      no      307     yes   no
 8      41   entrepreneur   married  tertiary      no      221     yes   no
 ...   ...            ...       ...       ...     ...      ...     ...  ...
 4501   34     management   married  tertiary      no      297     yes   no
 4506   42     unemployed  divorced  tertiary      no     -166      no   no
 4509   51     technician   married  tertiary      no     2506      no   no
 4517   57  self-employed   married  tertiary     yes    -3313     yes  yes
 4520   44   entrepreneur    single  tertiary      no     1136     yes  yes

        contact  day month  duration  campaign  pdays  previous poutcome   y
 2     cellular   16   apr       185         1    330         1  failure  no
 3      unknown    3   jun       199         4     -1         0  unknown  no
 5     cellular   23   feb       141         2    176         3  failure  no
 6     cellular   14   may       341         1    330         2    other  no
 8      unknown   14   may        57         2     -1         0  unknown  no
 ...        ...  ...   ...       ...       ...    ...       ...      ...  ..
 4501  cellular   26   aug        63         4     -1         0  unknown  no
 4506  cellular   29   aug        85         4     -1         0  unknown  no
 4509  cellular   30   nov       210         3     -1         0  unknown  no
 4517   unknown    9   may       153         1     -1         0  unknown  no
 4520  cellular    3   apr       345         2    249         7    other  no

 [1350 rows x 17 columns],
       age          job   marital education default  balance housing loan  \
 20     38   management  divorced   unknown      no        0     yes   no
 27     67      retired   married   unknown      no      696      no   no
 49     61       admin.   married   unknown      no     4629     yes   no
 132    43  blue-collar   married   unknown     yes     -715     yes   no
 133    48       admin.   married   unknown      no        0     yes   no
 ...   ...          ...       ...       ...     ...      ...     ...  ...
 4337   73      retired   married   unknown      no      519      no   no
 4342   50  blue-collar   married   unknown      no     2284     yes   no
 4428   48  blue-collar   married   unknown      no      439     yes   no
 4471   59   management   married   unknown      no     3534      no   no
 4508   42       admin.   married   unknown      no      642     yes  yes

         contact  day month  duration  campaign  pdays  previous poutcome    y
 20     cellular   18   nov        96         2     -1         0  unknown   no
 27    telephone   17   aug       119         1    105         2  failure   no
 49     cellular   27   jan       181         1     92         1  success  yes
 132     unknown   30   may        67         3     -1         0  unknown   no
 133    cellular    8   may        85         1    168         2  failure   no
 ...         ...  ...   ...       ...       ...    ...       ...      ...  ...
 4337  telephone   16   oct       434         1     57         1  failure  yes
 4342  telephone   31   jul      1088        17     -1         0  unknown  yes
 4428   cellular    2   feb       212         1    249         2    other   no
 4471   cellular   21   nov       216         4     -1         0  unknown   no
 4508    unknown   16   may       509         2     -1         0  unknown   no

 [187 rows x 17 columns]]

In [224]:
l[0]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [225]:
len(l)

4

In [227]:
l[1]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [228]:
l[2]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [229]:
l[3]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
49,61,admin.,married,unknown,no,4629,yes,no,cellular,27,jan,181,1,92,1,success,yes
132,43,blue-collar,married,unknown,yes,-715,yes,no,unknown,30,may,67,3,-1,0,unknown,no
133,48,admin.,married,unknown,no,0,yes,no,cellular,8,may,85,1,168,2,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4337,73,retired,married,unknown,no,519,no,no,telephone,16,oct,434,1,57,1,failure,yes
4342,50,blue-collar,married,unknown,no,2284,yes,no,telephone,31,jul,1088,17,-1,0,unknown,yes
4428,48,blue-collar,married,unknown,no,439,yes,no,cellular,2,feb,212,1,249,2,other,no
4471,59,management,married,unknown,no,3534,no,no,cellular,21,nov,216,4,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [15]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df.dropna(axis = 0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [9]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
df.dropna(inplace=True)

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [13]:
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [16]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [18]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
df.dropna(axis= 1, thresh= 800)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,Q

In [28]:
ad= pd.read_csv("sample_text.csv",header= None)

In [29]:
ad

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shubham,shubham.vaidya123@gmailo.com,bhandara,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [23]:
ad.dropna(axis=0)

Empty DataFrame
Columns: [shubham, shubham.vaidya123@gmailo.com, bhandara, 441906, vaidya, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19]
Index: []

In [24]:
ad.dropna(axis = 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
ad

,shubham,shubham.vaidya123@gmailo.com,bhandara,441906,vaidya,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [27]:
ad

,shubham,shubham.vaidya123@gmailo.com,bhandara,441906,vaidya,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,javed,javed@gmail.com,jnagar,441904.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,vilas,vilas@gmail.com,sawari,441905.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,siddharth,siddharth@gmail.com,borgaon,441906.0,vaidya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`

In [30]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [31]:
df.fillna(value="shubh")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,shubh,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,shubh,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,shubh,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,shubh,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,shubh,1,2,W./C. 6607,23.4500,shubh,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,shubh,Q

In [32]:
df.fillna(value=df["Age"].mean())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,29.699118,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,29.699118,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,29.699118,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,29.699118,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,29.699118,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,29.699118,Q

In [43]:
df.groupby("Survived").describe()["Fare"].T

Survived           0           1
count     549.000000  342.000000
mean       22.117887   48.395408
std        31.388207   66.596998
min         0.000000    0.000000
25%         7.854200   12.475000
50%        10.500000   26.000000
75%        26.000000   57.000000
max       263.000000  512.329200

In [44]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
bk=pd.read_csv("bank.csv", sep=";")

In [49]:
bk

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [50]:
bk["education"].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [51]:
l =[]
for i in bk["education"].unique():
    l.append(bk[bk["education"]==i])

In [132]:
bk1=l[0]

In [133]:
bk2=l[1]

In [57]:
pd.concat([bk2,bk1])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [59]:
bk1=bk1.head()

In [60]:
bk2=bk2.head()

In [62]:
pd.concat([bk1,bk2],axis=1)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,43.0,services,married,primary,no,-88.0,yes,yes,cellular,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,25.0,blue-collar,single,primary,no,-221.0,yes,no,unknown,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,55.0,blue-collar,married,primary,no,627.0,yes,no,unknown,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,78.0,retired,divorced,primary,no,229.0,no,no,telephone,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,cellular,11.0,may,220.0,1.0,339.0,4.0,failure,no
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,6.0,may,151.0,2.0,-1.0,0.0,unknown,no
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,unknown,20.0,may,273.0,1.0,-1.0,0.0,unknown,no
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,17.0,apr,113.0,2.0,-1.0,0.0,unknown,no

In [64]:
bk.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [134]:
bk1=bk1.head()[["age","job","marital"]]

In [135]:
bk2=bk2.head()[['age', 'job', 'marital']]

In [74]:
bk5=pd.concat([bk1,bk2],axis=1)

In [76]:
bk5

     age          job   marital   age          job  marital
0   30.0   unemployed   married   NaN          NaN      NaN
9   43.0     services   married   NaN          NaN      NaN
18  25.0  blue-collar    single   NaN          NaN      NaN
26  55.0  blue-collar   married   NaN          NaN      NaN
36  78.0      retired  divorced   NaN          NaN      NaN
1    NaN          NaN       NaN  33.0     services  married
4    NaN          NaN       NaN  59.0  blue-collar  married
7    NaN          NaN       NaN  39.0   technician  married
10   NaN          NaN       NaN  39.0     services  married
11   NaN          NaN       NaN  43.0       admin.  married

In [75]:
bk5["age"]

     age   age
0   30.0   NaN
9   43.0   NaN
18  25.0   NaN
26  55.0   NaN
36  78.0   NaN
1    NaN  33.0
4    NaN  59.0
7    NaN  39.0
10   NaN  39.0
11   NaN  43.0

In [78]:
bk5.iloc[:,3]

0      NaN
9      NaN
18     NaN
26     NaN
36     NaN
1     33.0
4     59.0
7     39.0
10    39.0
11    43.0
Name: age, dtype: float64

In [79]:
bk2

    age          job  marital
1    33     services  married
4    59  blue-collar  married
7    39   technician  married
10   39     services  married
11   43       admin.  married

In [80]:
bk2.loc[[4,7],["job","marital"]]

           job  marital
4  blue-collar  married
7   technician  married

In [81]:
bk2.iloc[[1,2],[1,2]]

           job  marital
4  blue-collar  married
7   technician  married

In [82]:
bk2.iloc[[1,2],[0,2]]

   age  marital
4   59  married
7   39  married

In [83]:
bk1

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [84]:
bk2

    age          job  marital
1    33     services  married
4    59  blue-collar  married
7    39   technician  married
10   39     services  married
11   43       admin.  married

In [91]:
pd.merge(bk1,bk2,on= "age",how ="outer")

   age        job_x marital_x        job_y marital_y
0   30   unemployed   married          NaN       NaN
1   43     services   married       admin.   married
2   25  blue-collar    single          NaN       NaN
3   55  blue-collar   married          NaN       NaN
4   78      retired  divorced          NaN       NaN
5   33          NaN       NaN     services   married
6   59          NaN       NaN  blue-collar   married
7   39          NaN       NaN   technician   married
8   39          NaN       NaN     services   married

In [92]:
bk1

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [105]:
bk2

In [99]:
bk2

In [130]:
bk1

In [109]:
bk2=bk2.head()

In [110]:
bk2

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no

In [127]:
bk2

             job  marital
age
33      services  married
59   blue-collar  married
39    technician  married
39      services  married
43        admin.  married

In [128]:
bk1

In [117]:
bk2=bk2.set_index("age")

In [118]:
bk2

             job  marital
age
33      services  married
59   blue-collar  married
39    technician  married
39      services  married
43        admin.  married

In [129]:
bk1.rename(columns={"job": "job1","marital":"marital1"},inplace = True)

AttributeError: 'NoneType' object has no attribute 'rename'

In [124]:
bk1

In [121]:
bk1.join(bk2)

    age         job1  marital1  job marital
0    30   unemployed   married  NaN     NaN
9    43     services   married  NaN     NaN
18   25  blue-collar    single  NaN     NaN
26   55  blue-collar   married  NaN     NaN
36   78      retired  divorced  NaN     NaN

In [136]:
bk1

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [137]:
bk2

    age          job  marital
1    33     services  married
4    59  blue-collar  married
7    39   technician  married
10   39     services  married
11   43       admin.  married

In [138]:
bk2=bk2.set_index("age")

In [139]:
bk2

             job  marital
age
33      services  married
59   blue-collar  married
39    technician  married
39      services  married
43        admin.  married

In [142]:
bk1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
bk1

NameError: name 'bk1' is not defined

In [6]:
df=pd.DataFrame({"col1":[1,2,3,4,5],"col2":[45,56,67,34,34],"col3": "shubham vaidya meritorium ineuron pw".split()})

In [9]:
df["col4"]=df["col1"]**2

In [10]:
df

   col1  col2        col3  col4
0     1    45     shubham     1
1     2    56      vaidya     4
2     3    67  meritorium     9
3     4    34     ineuron    16
4     5    34          pw    25

In [11]:
df["col5"]=df["col3"].str[0]

In [12]:
df

   col1  col2        col3  col4 col5
0     1    45     shubham     1    s
1     2    56      vaidya     4    v
2     3    67  meritorium     9    m
3     4    34     ineuron    16    i
4     5    34          pw    25    p

In [16]:
df["col6"]= df["col5"]=="s"

In [14]:
df

   col1  col2        col3  col4 col5   col6
0     1    45     shubham     1    s   True
1     2    56      vaidya     4    v  False
2     3    67  meritorium     9    m  False
3     4    34     ineuron    16    i  False
4     5    34          pw    25    p  False

In [17]:
def test(a):
    return a**2

In [18]:
df["col4_4"]=df["col1"].apply(test)

In [19]:
df

   col1  col2        col3  col4 col5   col6  col4_4
0     1    45     shubham     1    s   True       1
1     2    56      vaidya     4    v  False       4
2     3    67  meritorium     9    m  False       9
3     4    34     ineuron    16    i  False      16
4     5    34          pw    25    p  False      25

In [27]:
def test1(a):
    if a == "s":
        return "s"
    else:
        return "z"

In [28]:
df["col7"]=df["col5"].apply(test1)

In [29]:
df

   col1  col2        col3  col4 col5   col6  col4_4 col7
0     1    45     shubham     1    s   True       1    s
1     2    56      vaidya     4    v  False       4    z
2     3    67  meritorium     9    m  False       9    z
3     4    34     ineuron    16    i  False      16    z
4     5    34          pw    25    p  False      25    z

In [32]:
df["col8"]=df["col3"].apply(len)

In [33]:
df

   col1  col2        col3  col4 col5   col6  col4_4 col7  col8
0     1    45     shubham     1    s   True       1    s     7
1     2    56      vaidya     4    v  False       4    z     6
2     3    67  meritorium     9    m  False       9    z    10
3     4    34     ineuron    16    i  False      16    z     7
4     5    34          pw    25    p  False      25    z     2

In [34]:
import math

In [36]:
df["col9"]=df["col2"].apply(math.log)

In [37]:
df

   col1  col2        col3  col4 col5   col6  col4_4 col7  col8      col9
0     1    45     shubham     1    s   True       1    s     7  3.806662
1     2    56      vaidya     4    v  False       4    z     6  4.025352
2     3    67  meritorium     9    m  False       9    z    10  4.204693
3     4    34     ineuron    16    i  False      16    z     7  3.526361
4     5    34          pw    25    p  False      25    z     2  3.526361